In [1]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [37]:
assigned_path  = glob.glob("./input/assigned/*.csv")

In [38]:
assigned_path = assigned_path[0].split('\\')[-1]

In [39]:
assigned_path

'oa_proportion.csv'

In [40]:
oa_proportion = pd.read_csv(f'./input/assigned/{assigned_path}')

In [41]:
oa_proportion

    proportion             OA
0     9.316939            ACT
1    37.559684  Delay calling
2     6.974098            DHA
3     1.771357            GMV
4     8.898840       In-House
5     0.299349            JMT
6     5.464981            KOR
7     8.124490            KWC
8     1.202345            MGC
9     6.993889            MMN
10   11.100665            PCN
11    2.293362            UPC

In [44]:
ar_path = glob.glob("./input/AR/*.csv")[0].split('\\')[-1]

In [45]:
ar = pd.read_csv(f'./input/AR/{ar_path}')

In [46]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueCrUsage,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt
0,20250301,9010221122000949,A501:TL,2024-10-01,151,5:OD4,151,5:OD4,74164.44,35872.73,...,870.55,0.0,467.3,32.7,0,0,0.0,0.0,2025-02-28,3000.00
1,20250301,9010221122000931,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2024-09-27,20971.92
2,20250301,9010221122000922,A501:TL,2023-08-31,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2023-01-31,1300.00
3,20250301,9010221122000914,A501:TL,2024-02-29,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2023-12-27,550.00
4,20250301,9010221122000906,A501:TL,2022-11-30,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2022-09-30,2100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372970,20250301,1000158090014831,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,25500.00,100.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2017-01-31,1580.00
1372971,20250301,1000158090014814,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,24600.00,30.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-31,1260.00
1372972,20250301,1000158090008580,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-16,4000.00
1372973,20250301,1000158090005394,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2017-08-01,2600.00
1372974,20250301,1000158080014811,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,27900.00,100.00,...,0.00,0.0,0.0,0.0,0,0,0.0,0.0,2017-02-03,3200.00

In [11]:
ar.columns

Index(['BaseDate', 'Loan No', 'Product Code', 'Overdue Start Date',
       'OverdueDays_Morning', 'OverdueCnt_Morning', 'OverdueDays',
       'OverdueCnt', 'Loan Amt', 'Loan Balance', 'Outstanding Balance',
       'OverdueSumAmt', 'OverduePrin', 'OverdueInt', 'OverdueCrUsage',
       'OverdueOutputTax', 'OverdueCollectionFee', 'OverdueVAT',
       'OverdueStampTaxAmt', 'OverdueNCBTaxAmt', 'OverdueETCFeeAmt', 'LawCost',
       'LastPaymentDt', 'LastPaymentAmt'],
      dtype='object')

In [12]:
ar[['Loan No','Loan Balance']]

                  Loan No  Loan Balance
0        9010221122000949      35872.73
1        9010221122000931      12544.04
2        9010221122000922      23851.00
3        9010221122000914      13559.55
4        9010221122000906      31005.17
...                   ...           ...
1372970  1000158090014831        100.00
1372971  1000158090014814         30.00
1372972  1000158090008580        100.00
1372973  1000158090005394        100.00
1372974  1000158080014811        100.00

[1372975 rows x 2 columns]

In [13]:
loan_count = ar['Loan No'].nunique()

loan_count

1372975

In [15]:
# Sum Loan Balance
loan_balance_sum = ar['Loan Balance'].sum()
loan_balance_sum.astype(int)

np.int64(17420427758)

In [21]:
oa_proportion

    proportion             OA
0     9.316939            ACT
1    37.559684  Delay calling
2     6.974098            DHA
3     1.771357            GMV
4     8.898840       In-House
5     0.299349            JMT
6     5.464981            KOR
7     8.124490            KWC
8     1.202345            MGC
9     6.993889            MMN
10   11.100665            PCN
11    2.293362            UPC

In [24]:
oa_proportion['portion_loancount'] =  (oa_proportion['proportion'] / 100) * loan_count

In [26]:
oa_proportion['portion_loanbalance'] =  (oa_proportion['proportion'] / 100) * loan_balance_sum

In [30]:
oa_proportion['portion_loanbalance'].sum()

np.float64(17420427740.96958)

In [ ]:
glob.glob("./input/assigned/*.csv")

['./input/assigned\\oa_proportion.csv',
 './input/assigned\\oa_proportion1.csv',
 './input/assigned\\oa_proportion2.csv']