In [110]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [111]:
import pandas as pd
import glob
import numpy as np
import re
from utils import read_file,clean_column_names,assign_to_oa
pd.set_option('display.float_format', '{:.0f}'.format)

In [112]:
assigned_path  = glob.glob("./input/assigned/*") 
assigned_path[0]

'./input/assigned\\oa_proportion.xlsx'

In [113]:
glob.glob("./input/assigned/*")[0].split('\\')[-1]

'oa_proportion.xlsx'

In [114]:
assigned_path  = glob.glob("./input/assigned/*")[0].split('\\')[-1]
assigned_path

'oa_proportion.xlsx'

In [115]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [116]:
oa_proportion = read_file('./input/assigned/',assigned_path)
oa_proportion

,Product,Bucket,%Assign,OA,group,assign_type
0,H4C,XDAY,1,In-House,1,assign_all
1,H4C,OD1-OD2,1,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,1,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0,PCN,3,save_old_assign_new
4,SF+,X-DAY,1,In-House,4,assign_all
5,SF+,OD1-OD2,1,In-House,5,assign_all
6,SF+,NPL,0,THAS,6,save_old_assign_new
7,SF+,NPL,0,LBR,6,save_old_assign_new
8,SF+,NPL,0,ASJ,6,save_old_assign_new
9,SF+,NPL,0,WSP,6,save_old_assign_new
10,SF+,NPL,0,PCN,6,save_old_assign_new
11,SF+,NPL,0,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0,MGC,8,save_old_assign_new

In [117]:
oa_proportion = clean_column_names(oa_proportion)

In [118]:
oa_proportion

,product,bucket,%assign,oa,group,assign_type
0,H4C,XDAY,1,In-House,1,assign_all
1,H4C,OD1-OD2,1,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,1,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0,PCN,3,save_old_assign_new
4,SF+,X-DAY,1,In-House,4,assign_all
5,SF+,OD1-OD2,1,In-House,5,assign_all
6,SF+,NPL,0,THAS,6,save_old_assign_new
7,SF+,NPL,0,LBR,6,save_old_assign_new
8,SF+,NPL,0,ASJ,6,save_old_assign_new
9,SF+,NPL,0,WSP,6,save_old_assign_new
10,SF+,NPL,0,PCN,6,save_old_assign_new
11,SF+,NPL,0,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0,MGC,8,save_old_assign_new

In [119]:
map_criteria = oa_proportion[['product','bucket','group','assign_type']].drop_duplicates(subset=['product', 'bucket','group','assign_type'])

In [120]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1] 
ar = read_file('./input/AR/',ar_path)
ar = clean_column_names(ar)

In [121]:
assigned_path  = glob.glob("./input/assigned/*")

In [122]:
assigned_path = assigned_path[0].split('\\')[-1]

In [123]:
assigned_path

'oa_proportion.xlsx'

In [124]:
import os

In [125]:
def read_file(pathfile,filename):
    if filename:
        if filename.endswith(".xlsx"):
            file = pd.read_excel(f'{pathfile}{filename}', dtype={'%Assign': float})
        elif filename.endswith(".csv"):
            file = pd.read_csv(f'{pathfile}{filename}')
        return file  
    # print(assign.head())  # Display first few rows
    else:
        print("No file found in the folder.")

In [126]:
oa_proportion = read_file('./input/assigned/',assigned_path)

In [127]:
oa_proportion['%Assign'] = oa_proportion['%Assign'].apply(lambda x: "{:.2f}".format(x) if pd.notna(x) else "NaN")

In [128]:
oa_proportion

,Product,Bucket,%Assign,OA,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [129]:
def clean_column_names(df):
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\.', '', regex=True)
    df.columns = df.columns.str.replace(r' ', '_', regex=True)  # Replace non-alphanumeric characters with underscores
    df.columns = df.columns.str.replace('customer_id_no|customer_id|national_id', 'customer_id_no', regex=True)  # Replace variations with 'customer_no'
    df.columns = df.columns.str.replace(r'loan_no|contract.*', 'contract_no', regex=True)
    df.columns = df.columns.str.replace(r'mobile.*', 'mobile_no', regex=True)
    df.columns = df.columns.str.replace(r'customer_name/surname\(thai\)', 'customer_name', regex=True)  # Replace 'customer_name/surname(thai)' with 'customer_name'
    return df

In [130]:
oa_proportion

,Product,Bucket,%Assign,OA,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [131]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]

In [132]:
ar_path

'Ex. data assign.xlsx'

In [133]:
ar = read_file('./input/AR/',ar_path)

In [134]:
ar = clean_column_names(ar)

In [135]:
ar.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product', 'status_lm', 'old_oa', 'new_oa', 'reason'],
      dtype='object')

In [136]:
ar['product_val'] =  ar['sales_product_code'].str.extract(r':\s*(.*)').replace(r'\b(RL|ML|TL)\b', 'RL ML TL', regex=True)

In [137]:
oa_proportion = clean_column_names(oa_proportion)

In [138]:
oa_proportion

,product,bucket,%assign,oa,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [139]:
map_criteria = oa_proportion[['product','bucket','group','assign_type']].drop_duplicates(subset=['product', 'bucket','group','assign_type'])

In [140]:
map_criteria

     product                            bucket  group            assign_type
0        H4C                              XDAY      1             assign_all
1        H4C                           OD1-OD2      2             assign_all
2        C4C  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3    save_old_assign_new
4        SF+                             X-DAY      4             assign_all
5        SF+                           OD1-OD2      5             assign_all
6        SF+                               NPL      6    save_old_assign_new
12  RL ML TL                      XDAY-OD1-OD2      7  assign_old_assign_new
19  RL ML TL                   OD3-OD4-OD5-OD6      8    save_old_assign_new

In [141]:
ar_merge = ar.merge(map_criteria,left_on='product_val',right_on = 'product', suffixes=('_df1', '_df2'))

In [142]:
ar_merge.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product_df1', 'status_lm', 'old_oa', 'new_oa', 'reason', 'product_val',
       'product_df2', 'bucket', 'group', 'assign_type'],
      dtype='object')

In [143]:
ar_merge  = ar_merge[ar_merge.apply(lambda row: row['overdue_months_division_code'] in row['bucket'], axis=1)]

In [144]:
ar_merge

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,product_df1,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,RL ML TL,SAVE,KOR,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
2,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
4,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
6,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,RL ML TL,UNSAVE,PCN,KOR,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
8,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75495,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,RL ML TL,UNSAVE,ACT,PCN,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75497,02-03-2568,12170059023,3800900578278,20233,0,620,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75499,02-03-2568,12160033410,3820800162096,46587,0,1398,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75501,02-03-2568,12170041240,1910500035091,62978,0,4154,60,3,60,3,...,RL ML TL,SAVE,DHA,DHA,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75503,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new

In [145]:
def split_dataframe_by_group(df, group_column, prefix):
    # Get unique values in the specified group column
    unique_values = df[group_column].unique()
    
    # Create a list to store the names of the created DataFrames
    dataframe_names = []
    
    # Create separate dataframes for each unique value in the group column
    for value in unique_values:
        df_name = f"{prefix}_{value}"
        globals()[df_name] = df[df[group_column] == value]
        dataframe_names.append(df_name)
    
    # Print the name of each created dataframe
    for df_name in dataframe_names:
        print(f"Dataframe name: {df_name}")
        # Uncomment the next line to print the dataframe contents
        # print(globals()[df_name], "\n")
    
    # Return the list of DataFrame names
    return dataframe_names

In [101]:
oa_proportion

,product,bucket,%assign,oa,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [146]:
def assign_to_oa(df_toassign) : 
    # print('df_toassign',len(df_toassign))
    # List to store the concatenated dataframes
    oa_list = split_dataframe_by_group(oa_proportion, 'group', 'oa')
    ar_list = split_dataframe_by_group(df_toassign, 'group', 'ar')
    # print(ar_list)
    dataframes_oa = {name: globals()[name] for name in oa_list}
    dataframes_ar = {name: globals()[name] for name in ar_list}
    combined_dfs = []

    # Iterate through each ar dataframe in dataframes_ar
    for i in dataframes_ar:
        ar_df = dataframes_ar[i]
        # print(i)
        # print(ar_df)

        order = i[-1]  # Extract the last character of the first element for 'order'
        # print('order', order)
        
        df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
        df_n = ar_df.loc[ar_df['ever'] == 'N']  # Filter rows where 'ever' == 'N'
        
        size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
        size_n = df_n['contract_no'].count()  # Count of 'N' contracts
        
        # Get the corresponding OA dataframe based on order
        oa = dataframes_oa[f'oa_{order}']
        
        # Assign values randomly based on the OA assignment probabilities
        df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
        df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
        
        # Combine the 'Y' and 'N' dataframes
        assigned_df = pd.concat([df_y, df_n], ignore_index=True)
        
        # Store the concatenated dataframe in the list
        combined_dfs.append(assigned_df)

    # Concatenate all the combined dataframes into one final dataframe
    final_df = pd.concat(combined_dfs, ignore_index=True)

    # Optionally, assign the final concatenated dataframe to a dynamic variable
    globals()['df_assign_all'] = final_df

    # Print the final dataframe
    # print(final_df)
    return final_df

---

In [149]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\3980200684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']

In [150]:
loop_test = assign_new['overdue_months_division_code'].unique()

In [155]:
loop_test

array(['OD3', 'OD5', 'OD6', 'OD4', 'OD1', 'XDAY', 'OD2'], dtype=object)

In [156]:
merged_df = pd.DataFrame()  # Initialize an empty DataFrame

for i in loop_test:
    tt = assign_new.loc[assign_new['overdue_months_division_code'] == i]
    df_sorted = tt.sort_values(by='principal_balance', ascending=True)
    split_dfs = np.array_split(df_sorted, 3)
    updated_dfs = []
    for i, split_df in enumerate(split_dfs):
        assign_sort = assign_to_oa(split_df)
        updated_dfs.append(assign_sort) 
    final_df = pd.concat(updated_dfs).reset_index(drop=True)
    
    merged_df = pd.concat([merged_df, final_df], ignore_index=True)

print(merged_df)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_3
       base_date  customer_no  customer_id_no  principal_balance  \
0     02-03-2568  12170055383   3520800561376               1789
1     02-03-2568  12180004906   1103100116124               5485
2     02-03-2568  13210010789   3160300318417               5519
3     02-03-2568  13210010017   3100602409628               5761
4     02-03-2568  13200002086   3860400318919               5802
...          ...          ...             ...                ...
4122  02-03-2568  14231444031   3100904987543             473981
4123  02-03-2568  14230558262   1509900980011             475331
4124  02-03-2568  14231145787   3101300067628             505894
4125  02-03-2568  14230223144   1159900243916             526085
4126  02-03-2568  14230302732   3309901326160             667035

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                       0                      403                     91
1                       0                      649                     91
2                       0                     2238                     91
3                       0                     4174                     91
4                       0                     1392                     91
...                   ...                      ...                    ...
4122                    0                    34430                     60
4123                    0                    34196                     60
4124                    0                    42312                     60
4125                    0                    37339                     60
4126                    0                    45950                     60

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
0                        4            91                      4  ...
1                        4            91                      4  ...
2                        4            91                      4  ...
3                        4            91                      4  ...
4                        4            91                      4  ...
...                    ...           ...                    ...  ...
4122                     3            60                      3  ...
4123                     3            60                      3  ...
4124                     3            60                      3  ...
4125                     3            60                      3  ...
4126                     3            60                      3  ...

     status_lm old_oa new_oa  reason product_val  product_df2  \
0       UNSAVE    KOR    KWC     NaN    RL ML TL     RL ML TL
1       UNSAVE    ACT    KWC     NaN    RL ML TL     RL ML TL
2       UNSAVE    PCN    KWC     NaN    RL ML TL     RL ML TL
3       UNSAVE    ACT    KWC     NaN    RL ML TL     RL ML TL
4       UNSAVE    KWC    KWC     NaN    RL ML TL     RL ML TL
...        ...    ...    ...     ...         ...          ...
4122    UNSAVE    DHA    DHA     NaN         C4C          C4C
4123    UNSAVE    DHA    PCN     NaN         C4C          C4C
4124    UNSAVE    DHA    DHA     NaN         C4C          C4C
4125    UNSAVE    PCN    PCN     NaN         C4C          C4C
4126    UNSAVE    DHA    DHA     NaN         C4C          C4C

                                bucket group          assign_type  assigned
0                      OD3-OD4-OD5-OD6     8  save_old_assign_new       MMN
1                      OD3-OD4-OD5-OD6     8  save_old_assign_new       MGC
2                      OD3-OD4-OD5-OD6     8  save_old_assign_new       KWC
3                      OD3-OD4-OD5-OD6     8  save_old_assign_new       KWC
4                      OD3-OD4-OD5-OD6     8  save_old_assign_new       MMN
...                                ...   ...                  ...       ...
4122  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL     3  save_old_assign_new       PCN
4123  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL     3  save_old_assign_new       PCN
4124  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL     3  save_old_assign_new       PCN
4125  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL     3  save_old_assign_new       DHA
4126  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL     3  save_old_assign_new       PCN

[4127 rows x 91 columns]

c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [157]:
merged_df

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,assigned
0,02-03-2568,12170055383,3520800561376,1789,0,403,91,4,91,4,...,UNSAVE,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MMN
1,02-03-2568,12180004906,1103100116124,5485,0,649,91,4,91,4,...,UNSAVE,ACT,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MGC
2,02-03-2568,13210010789,3160300318417,5519,0,2238,91,4,91,4,...,UNSAVE,PCN,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
3,02-03-2568,13210010017,3100602409628,5761,0,4174,91,4,91,4,...,UNSAVE,ACT,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
4,02-03-2568,13200002086,3860400318919,5802,0,1392,91,4,91,4,...,UNSAVE,KWC,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MMN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,02-03-2568,14231444031,3100904987543,473981,0,34430,60,3,60,3,...,UNSAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN
4123,02-03-2568,14230558262,1509900980011,475331,0,34196,60,3,60,3,...,UNSAVE,DHA,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN
4124,02-03-2568,14231145787,3101300067628,505894,0,42312,60,3,60,3,...,UNSAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN
4125,02-03-2568,14230223144,1159900243916,526085,0,37339,60,3,60,3,...,UNSAVE,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,DHA
4126,02-03-2568,14230302732,3309901326160,667035,0,45950,60,3,60,3,...,UNSAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN

In [162]:
merged_df.groupby(['overdue_months_division_code']).size()

overdue_months_division_code
OD1       21
OD2       29
OD3     1350
OD4     1371
OD5     1164
OD6      153
XDAY      39
dtype: int64

In [161]:
merged_df = pd.DataFrame()  # Initialize an empty DataFrame

for i in loop_test:
    tt = assign_new.loc[assign_new['overdue_months_division_code'] == i]
    print('ddd',tt)
    tt_new_assign = assign_to_oa(tt)  # Function returns a DataFrame
    # print('',tt_new_assign)
    merged_df = pd.concat([merged_df, tt_new_assign], ignore_index=True)

# print(merged_df)

ddd        base_date  customer_no  customer_id_no  principal_balance  \
0     02-03-2568  14231270722   1411200124914              30430
4     02-03-2568  14230473521   1209601351767               7025
5     02-03-2568  14220142963   1330900278795              37955
7     02-03-2568  14231469890   5240100018059              14139
21    02-03-2568  14220023084   3601101045930              19607
...          ...          ...             ...                ...
5067  02-03-2568  14231013073   5920700042949              23191
5073  02-03-2568  14230289935   1949900301668              19429
5079  02-03-2568  14242146464   1411700093759              55535
5081  02-03-2568  12170058128   3720200039421              62604
5083  02-03-2568  12180020188   1409901501665              13098

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                       0                     3121                     91
4                       0                     5418                     91
5                       0                     3581                     91
7                       0                     1414                     91
21                      0                     2127                     91
...                   ...                      ...                    ...
5067                    0                     2357                     91
5073                    0                     1907                     91
5079                    0                     7304                     91
5081                    0                     5701                     91
5083                    0                     1126                     91

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
0                        4            91                      4  ...
4                        4            91                      4  ...
5                        4            91                      4  ...
7                        4            91                      4  ...
21                       4            91                      4  ...
...                    ...           ...                    ...  ...
5067                     4            91                      4  ...
5073                     4            91                      4  ...
5079                     4            91                      4  ...
5081                     4            91                      4  ...
5083                     4            91                      4  ...

     product_df1 status_lm    old_oa  new_oa reason  product_val  product_df2  \
0       RL ML TL    UNSAVE       ACT     MMN    NaN     RL ML TL     RL ML TL
4       RL ML TL    UNSAVE       KOR     MMN    NaN     RL ML TL     RL ML TL
5       RL ML TL    UNSAVE       DHA     GMV    NaN     RL ML TL     RL ML TL
7       RL ML TL    UNSAVE       KOR     UPC    NaN     RL ML TL     RL ML TL
21      RL ML TL    UNSAVE       PCN     UPC    NaN     RL ML TL     RL ML TL
...          ...       ...       ...     ...    ...          ...          ...
5067    RL ML TL    UNSAVE  In-House     KWC    NaN     RL ML TL     RL ML TL
5073    RL ML TL    UNSAVE       PCN     KWC    NaN     RL ML TL     RL ML TL
5079    RL ML TL    UNSAVE       ACT     GMV    NaN     RL ML TL     RL ML TL
5081    RL ML TL    UNSAVE       DHA     MMN    NaN     RL ML TL     RL ML TL
5083    RL ML TL    UNSAVE  In-House     KWC    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
0     OD3-OD4-OD5-OD6      8  save_old_assign_new
4     OD3-OD4-OD5-OD6      8  save_old_assign_new
5     OD3-OD4-OD5-OD6      8  save_old_assign_new
7     OD3-OD4-OD5-OD6      8  save_old_assign_new
21    OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
5067  OD3-OD4-OD5-OD6      8  save_old_assign_new
5073  OD3-OD4-OD5-OD6      8  save_old_assign_new
5079  OD3-OD4-OD5-OD6      8  save_old_assign_new
5081  OD3-OD4-OD5-OD6      8  save_old_assign_new
5083  OD3-OD4-OD5-OD6      8  save_old_assign_new

[1350 rows x 90 columns]
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
ddd        base_date  customer_no  customer_id_no  principal_balance  \
1     02-03-2568  14231131639   3550100663061              38490
6     02-03-2568  14230203300   3330100389432             227936
8     02-03-2568  12170041608   1930100132154              16820
9     02-03-2568  12170046201   3120400070204              10660
19    02-03-2568  14220017124   3340500500519              22694
...          ...          ...             ...                ...
5047  02-03-2568  12160019773   1800700026381              30060
5056  02-03-2568  14230178028   1909700070018               6312
5062  02-03-2568  14230813876   1929800108882              11855
5078  02-03-2568  12160011854   1410400037321              24200
5084  02-03-2568  12180045424   3360700484371              17486

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
1                       0                     5593                    152
6                       0                    31136                    152
8                       0                     2568                    152
9                       0                     1517                    152
19                      0                     3457                    152
...                   ...                      ...                    ...
5047                    0                     4443                    152
5056                    0                     7160                    152
5062                    0                     1799                    152
5078                    0                     3529                    152
5084                    0                     2602                    152

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
1                        6           152                      6  ...
6                        6           152                      6  ...
8                        6           152                      6  ...
9                        6           152                      6  ...
19                       6           152                      6  ...
...                    ...           ...                    ...  ...
5047                     6           152                      6  ...
5056                     6           152                      6  ...
5062                     6           152                      6  ...
5078                     6           152                      6  ...
5084                     6           152                      6  ...

     product_df1 status_lm old_oa  new_oa reason  product_val  product_df2  \
1       RL ML TL    UNSAVE    UPC     MMN    NaN     RL ML TL     RL ML TL
6       RL ML TL    UNSAVE    NaN     GMV    NaN     RL ML TL     RL ML TL
8       RL ML TL    UNSAVE    GMV     GMV    NaN     RL ML TL     RL ML TL
9       RL ML TL    UNSAVE    KWC     MMN    NaN     RL ML TL     RL ML TL
19      RL ML TL    UNSAVE    GMV     MGC    NaN     RL ML TL     RL ML TL
...          ...       ...    ...     ...    ...          ...          ...
5047    RL ML TL    UNSAVE    MGC     MMN    NaN     RL ML TL     RL ML TL
5056    RL ML TL    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL
5062    RL ML TL    UNSAVE    MMN     KWC    NaN     RL ML TL     RL ML TL
5078    RL ML TL    UNSAVE    MMN     KWC    NaN     RL ML TL     RL ML TL
5084    RL ML TL    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
1     OD3-OD4-OD5-OD6      8  save_old_assign_new
6     OD3-OD4-OD5-OD6      8  save_old_assign_new
8     OD3-OD4-OD5-OD6      8  save_old_assign_new
9     OD3-OD4-OD5-OD6      8  save_old_assign_new
19    OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
5047  OD3-OD4-OD5-OD6      8  save_old_assign_new
5056  OD3-OD4-OD5-OD6      8  save_old_assign_new
5062  OD3-OD4-OD5-OD6      8  save_old_assign_new
5078  OD3-OD4-OD5-OD6      8  save_old_assign_new
5084  OD3-OD4-OD5-OD6      8  save_old_assign_new

[1164 rows x 90 columns]
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
ddd        base_date  customer_no  customer_id_no  principal_balance  \
2     02-03-2568  14230811532   3540200605101              13804
46    02-03-2568  14230592443   1101400522380               6243
85    02-03-2568  11190011480   3510100411550              16820
226   02-03-2568  14231114189   1101500341191               2723
252   02-03-2568  14220087274   5101499039085              22485
...          ...          ...             ...                ...
4859  02-03-2568  12170059614   3900200408328              18792
4861  02-03-2568  14230537180   2900400006888              11991
4938  02-03-2568  14230736502   1801500067475              21369
4940  02-03-2568  14231456089   1100500204354               4775
4956  02-03-2568  14230197460   1841801073024               5984

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
2                       0                     9945                    182
46                      0                     6845                    182
85                      0                    17292                    182
226                     0                     2910                    182
252                     0                     2998                    182
...                   ...                      ...                    ...
4859                    0                     2829                    182
4861                    0                     9520                    182
4938                    0                    16247                    182
4940                    0                     5123                    182
4956                    0                     6107                    182

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
2                        7           182                      7  ...
46                       7           182                      7  ...
85                       7           182                      7  ...
226                      7           182                      7  ...
252                      7           182                      7  ...
...                    ...           ...                    ...  ...
4859                     7           182                      7  ...
4861                     7           182                      7  ...
4938                     7           182                      7  ...
4940                     7           182                      7  ...
4956                     7           182                      7  ...

     product_df1 status_lm old_oa  new_oa reason  product_val  product_df2  \
2       RL ML TL    UNSAVE    MMN     UPC    NaN     RL ML TL     RL ML TL
46      RL ML TL    UNSAVE    MGC     MMN    NaN     RL ML TL     RL ML TL
85      RL ML TL    UNSAVE    NaN     GMV    NaN     RL ML TL     RL ML TL
226     RL ML TL    UNSAVE    MMN     KWC    NaN     RL ML TL     RL ML TL
252          TDR    UNSAVE    GMV     GMV    NaN     RL ML TL     RL ML TL
...          ...       ...    ...     ...    ...          ...          ...
4859         TDR    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL
4861    RL ML TL    UNSAVE    GMV     GMV    NaN     RL ML TL     RL ML TL
4938    RL ML TL    UNSAVE    MMN     MGC    NaN     RL ML TL     RL ML TL
4940    RL ML TL    UNSAVE    MMN     MMN    NaN     RL ML TL     RL ML TL
4956    RL ML TL    UNSAVE    MMN     UPC    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
2     OD3-OD4-OD5-OD6      8  save_old_assign_new
46    OD3-OD4-OD5-OD6      8  save_old_assign_new
85    OD3-OD4-OD5-OD6      8  save_old_assign_new
226   OD3-OD4-OD5-OD6      8  save_old_assign_new
252   OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
4859  OD3-OD4-OD5-OD6      8  save_old_assign_new
4861  OD3-OD4-OD5-OD6      8  save_old_assign_new
4938  OD3-OD4-OD5-OD6      8  save_old_assign_new
4940  OD3-OD4-OD5-OD6      8  save_old_assign_new
4956  OD3-OD4-OD5-OD6      8  save_old_assign_new

[153 rows x 90 columns]
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
ddd        base_date  customer_no  customer_id_no  principal_balance  \
10    02-03-2568  12180033243   1860700134965              15395
14    02-03-2568  13210008135   1670600124587              10935
15    02-03-2568  14230914434   3110100978812              13587
22    02-03-2568  11160020271   1411000069146              15953
27    02-03-2568  14220058852   3360400495556              27345
...          ...          ...             ...                ...
5075  02-03-2568  12160002925   1103700127968              27867
5076  02-03-2568  12180007614   1159900180302              39255
5077  02-03-2568  14230536680   3361100381483              39825
5080  02-03-2568  14241645942   3411100509357              67415
5082  02-03-2568  14230366869   3361000027246             255537

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
10                      0                     1946                    121
14                      0                     1224                    121
15                      0                     1522                    121
22                      0                     2011                    121
27                      0                     3405                    121
...                   ...                      ...                    ...
5075                    0                     3039                    121
5076                    0                     4741                    121
5077                    0                     4788                    121
5080                    0                     8068                    121
5082                    0                    40002                    121

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
10                       5           121                      5  ...
14                       5           121                      5  ...
15                       5           121                      5  ...
22                       5           121                      5  ...
27                       5           121                      5  ...
...                    ...           ...                    ...  ...
5075                     5           121                      5  ...
5076                     5           121                      5  ...
5077                     5           121                      5  ...
5080                     5           121                      5  ...
5082                     5           121                      5  ...

     product_df1 status_lm old_oa  new_oa reason  product_val  product_df2  \
10      RL ML TL    UNSAVE    GMV     UPC    NaN     RL ML TL     RL ML TL
14      RL ML TL    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL
15      RL ML TL    UNSAVE    MGC     MMN    NaN     RL ML TL     RL ML TL
22      RL ML TL    UNSAVE    MGC     MMN    NaN     RL ML TL     RL ML TL
27      RL ML TL    UNSAVE    GMV     KWC    NaN     RL ML TL     RL ML TL
...          ...       ...    ...     ...    ...          ...          ...
5075    RL ML TL    UNSAVE    GMV     KWC    NaN     RL ML TL     RL ML TL
5076    RL ML TL    UNSAVE    MGC     UPC    NaN     RL ML TL     RL ML TL
5077    RL ML TL    UNSAVE    KWC     MGC    NaN     RL ML TL     RL ML TL
5080    RL ML TL    UNSAVE    KWC     UPC    NaN     RL ML TL     RL ML TL
5082         C4C    UNSAVE    PCN     DHA    NaN          C4C          C4C

                                bucket  group          assign_type
10                     OD3-OD4-OD5-OD6      8  save_old_assign_new
14                     OD3-OD4-OD5-OD6      8  save_old_assign_new
15                     OD3-OD4-OD5-OD6      8  save_old_assign_new
22                     OD3-OD4-OD5-OD6      8  save_old_assign_new
27                     OD3-OD4-OD5-OD6      8  save_old_assign_new
...                                ...    ...                  ...
5075                   OD3-OD4-OD5-OD6      8  save_old_assign_new
5076                   OD3-OD4-OD5-OD6      8  save_old_assign_new
5077                   OD3-OD4-OD5-OD6      8  save_old_assign_new
5080                   OD3-OD4-OD5-OD6      8  save_old_assign_new
5082  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new

[1371 rows x 90 columns]
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
ddd        base_date  customer_no  customer_id_no  principal_balance  \
18    02-03-2568  14231001709   3100900735906             481355
347   02-03-2568  14230382494   1103701202408             487703
771   02-03-2568  14230554093   3300900704600             527653
1505  02-03-2568  14231376625   1300500008561             616346
1690  02-03-2568  14230529798   3120500022201             491757
2971  02-03-2568  14231052198   3320200254237             454269
3509  02-03-2568  14220064257   5311400056673             171715
3740  02-03-2568  11200001066   3302000192078              28200
3744  02-03-2568  14231434259   1301300112293             256973
3770  02-03-2568  14230976416   1420800001022             169756
3834  02-03-2568  14230202899   1321000147369             207107
3908  02-03-2568  11160016560   1340900220070             402509
3941  02-03-2568  14230996800   3361000297634             203568
4001  02-03-2568  14230564572   1409900001219             187454
4061  02-03-2568  14231087069   1410100068108             167727
4762  02-03-2568  14231277544   1800900165465             459840
4770  02-03-2568  14230519614   3800800312233             145081
4778  02-03-2568  11200001437   3800300271872              53752
4790  02-03-2568  14220060068   1920600037533             191106
5059  02-03-2568  14230750759   1910600070379             200724
5065  02-03-2568  14230621305   1920500088519             428218

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
18                      0                    28880                     29
347                     0                    13041                     29
771                     0                    29294                     29
1505                    0                    27940                     29
1690                    0                    24206                     29
2971                    0                    21016                     29
3509                    0                    13921                     29
3740                    0                     8498                     29
3744                    0                    13280                     29
3770                    0                    11464                     29
3834                    0                    15684                     29
3908                    0                    20824                     29
3941                    0                    13542                     29
4001                    0                    10318                     29
4061                    0                     4618                     29
4762                    0                    20852                     29

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [ ]:
assign_new.groupby(['overdue_months_division_code']).size()

In [106]:
merged_df

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,assigned
0,02-03-2568,12180008240,1179900184189,18926,0,1863,91,4,91,4,...,UNSAVE,In-House,GMV,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,GMV
1,02-03-2568,12180052867,3920101021956,67433,0,5634,91,4,91,4,...,UNSAVE,KWC,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,GMV
2,02-03-2568,12180044964,3341700320558,142817,0,12842,91,4,91,4,...,UNSAVE,KOR,MGC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MGC
3,02-03-2568,12180051412,3730200338275,324387,0,21963,91,4,91,4,...,UNSAVE,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
4,02-03-2568,12170060733,5311000124311,23492,0,2162,91,4,91,4,...,UNSAVE,In-House,UPC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MMN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,02-03-2568,14231036451,1430700058219,470648,0,44563,91,4,91,4,...,UNSAVE,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,DHA
1346,02-03-2568,14230484028,3650600433225,289067,0,31510,91,4,91,4,...,UNSAVE,DHA,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN
1347,02-03-2568,14230997288,1670300011230,251870,0,32657,91,4,91,4,...,UNSAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN
1348,02-03-2568,14230767031,3809900553389,264713,0,30992,91,4,91,4,...,UNSAVE,DHA,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,DHA
1349,02-03-2568,14241637695,1570500212116,677337,0,48815,91,4,91,4,...,UNSAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,PCN

In [154]:
merged_df.to_excel('./output/test_notsplit.xlsx')

---

In [ ]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]

In [ ]:

assign_new= assign_to_oa(assign_new)

In [ ]:



save_old_assign_new = pd.concat([save_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
['ar_8', 'ar_3']

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\4098834831.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [42]:
assign_all = ar_merge[ar_merge['assign_type'] == 'assign_all'].reset_index(drop=True)
assign_all= assign_to_oa(assign_all)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_2
Dataframe name: ar_1
['ar_2', 'ar_1']

In [66]:
assign_old_assign_new = ar_merge[ar_merge['assign_type'] == 'assign_old_assign_new'].reset_index(drop=True)
assign_old  = assign_old_assign_new.loc[ (assign_old_assign_new['status_lm'] == 'SAVE')]
assign_old= assign_to_oa(assign_old)
assign_new =  assign_old_assign_new.loc[ ~(assign_old_assign_new['status_lm'] == 'SAVE')]
assign_new= assign_to_oa(assign_new)
assign_old_assign_new = pd.concat([assign_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_7
['ar_7']
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_7
['ar_7']

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [95]:
final = pd.concat([save_old_assign_new.reset_index(drop=True), 
           assign_all.reset_index(drop=True), 
           assign_old_assign_new.reset_index(drop=True)], ignore_index=True)

In [96]:
final.to_csv('./output/assignbycondition.csv')

In [99]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]  
ar = read_file('./input/AR/',ar_path)
ar_path_name = re.sub(r'\.(csv|xlsx)$', '', ar_path)

In [100]:
ar_path_name

'Ex. data assign'