In [207]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [208]:
assigned_path  = glob.glob("./input/assigned/*")

In [209]:
assigned_path = assigned_path[0].split('\\')[-1]

In [210]:
assigned_path

'oa_proportion.xlsx'

In [211]:
import os

In [212]:
def read_file(pathfile,filename):
    if filename:
        if filename.endswith(".xlsx"):
            file = pd.read_excel(f'{pathfile}{filename}')
        elif filename.endswith(".csv"):
            file = pd.read_csv(f'{pathfile}{filename}')
        return file  
    # print(assign.head())  # Display first few rows
    else:
        print("No file found in the folder.")

In [213]:
oa_proportion = read_file('./input/assigned/',assigned_path)

In [214]:
oa_proportion

     Product    Bucket  %Assign        OA  group
0        H4C     X-DAY     1.00  In-House      1
1        H4C   OD1-OD2     1.00       JMT      2
2        C4C       ALL     0.60       DHA      3
3        C4C       ALL     0.40       PCN      3
4        SF+     X-DAY     1.00  In-House      4
5        SF+   OD1-OD2     1.00  In-House      4
6        SF+       NPL     0.20      THAS      5
7        SF+       NPL     0.18       LBR      5
8        SF+       NPL     0.17       ASJ      5
9        SF+       NPL     0.16       WSP      5
10       SF+       NPL     0.15       PCN      5
11       SF+       NPL     0.14       MGC      5
12  RL ML TL  XDAY-OD2     0.22       PCN      6
13  RL ML TL  XDAY-OD2     0.20       ACT      6
14  RL ML TL  XDAY-OD2     0.18  In-House      6
15  RL ML TL  XDAY-OD2     0.12       DHA      6
16  RL ML TL  XDAY-OD2     0.11       KOR      6
17  RL ML TL  XDAY-OD2     0.09       KWC      6
18  RL ML TL  XDAY-OD2     0.08       MMN      6
19  RL ML TL   OD3-OD6     0.30       KWC      7
20  RL ML TL   OD3-OD6     0.25       MMN      7
21  RL ML TL   OD3-OD6     0.20       UPC      7
22  RL ML TL   OD3-OD6     0.15       GMV      7
23  RL ML TL   OD3-OD6     0.10       MGC      7

In [215]:
def clean_column_names(df):
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\.', '', regex=True)
    df.columns = df.columns.str.replace(r' ', '_', regex=True)  # Replace non-alphanumeric characters with underscores
    df.columns = df.columns.str.replace('customer_id_no|customer_id|national_id', 'customer_id_no', regex=True)  # Replace variations with 'customer_no'
    df.columns = df.columns.str.replace(r'loan_no|contract.*', 'contract_no', regex=True)
    df.columns = df.columns.str.replace(r'mobile.*', 'mobile_no', regex=True)
    df.columns = df.columns.str.replace(r'customer_name/surname\(thai\)', 'customer_name', regex=True)  # Replace 'customer_name/surname(thai)' with 'customer_name'
    return df

In [216]:
oa_proportion = clean_column_names(oa_proportion)

In [217]:
oa_proportion

     product    bucket  %assign        oa  group
0        H4C     X-DAY     1.00  In-House      1
1        H4C   OD1-OD2     1.00       JMT      2
2        C4C       ALL     0.60       DHA      3
3        C4C       ALL     0.40       PCN      3
4        SF+     X-DAY     1.00  In-House      4
5        SF+   OD1-OD2     1.00  In-House      4
6        SF+       NPL     0.20      THAS      5
7        SF+       NPL     0.18       LBR      5
8        SF+       NPL     0.17       ASJ      5
9        SF+       NPL     0.16       WSP      5
10       SF+       NPL     0.15       PCN      5
11       SF+       NPL     0.14       MGC      5
12  RL ML TL  XDAY-OD2     0.22       PCN      6
13  RL ML TL  XDAY-OD2     0.20       ACT      6
14  RL ML TL  XDAY-OD2     0.18  In-House      6
15  RL ML TL  XDAY-OD2     0.12       DHA      6
16  RL ML TL  XDAY-OD2     0.11       KOR      6
17  RL ML TL  XDAY-OD2     0.09       KWC      6
18  RL ML TL  XDAY-OD2     0.08       MMN      6
19  RL ML TL   OD3-OD6     0.30       KWC      7
20  RL ML TL   OD3-OD6     0.25       MMN      7
21  RL ML TL   OD3-OD6     0.20       UPC      7
22  RL ML TL   OD3-OD6     0.15       GMV      7
23  RL ML TL   OD3-OD6     0.10       MGC      7

In [218]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]

In [219]:
ar_path

'Ex. data assign.xlsx'

In [222]:
ar = read_file('./input/AR/',ar_path)

In [223]:
ar = clean_column_names(ar)

In [224]:
ar.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product', 'status_lm', 'old_oa', 'new_oa', 'reason'],
      dtype='object')

In [226]:
ar['product_val'] =  ar['sales_product_code'].str.extract(r':\s*(.*)').replace(r'\b(RL|ML|TL)\b', 'RL ML TL', regex=True)

In [227]:
ar

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason,product_val
0,02-03-2568,14220046109,3240900116555,23541.73,0,706.25,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,KOR,Delay calling,NaN,RL ML TL
1,02-03-2568,14220082584,3100700619422,82466.01,0,2473.98,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL
2,02-03-2568,14230283551,3101300732206,424.47,0,432.40,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL
3,02-03-2568,14230554514,3321200109131,33990.39,0,2638.96,60,3,60,3,...,A301:RL,0,0,N,RL ML TL,UNSAVE,PCN,KOR,NaN,RL ML TL
4,02-03-2568,14220054168,3100503160974,10233.80,0,1405.00,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180032167,1801200102577,11977.63,0,474.17,29,2,29,2,...,A301:RL,0,0,N,RL ML TL,UNSAVE,ACT,PCN,NaN,RL ML TL
38109,02-03-2568,12170059023,3800900578278,20232.96,0,619.98,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL
38110,02-03-2568,12160033410,3820800162096,46587.05,0,1397.61,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL
38111,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,A301:RL,0,0,N,RL ML TL,SAVE,DHA,DHA,NaN,RL ML TL
38112,02-03-2568,12200000014,1100400134435,58220.40,0,1746.61,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL

In [228]:
from fuzzywuzzy import process

def fuzzy_match(val, choices):
    match = process.extractOne(val, choices)
    return match[0] if match else None

In [229]:
oa_proportion['combined_oa'] = oa_proportion['product'].astype(str) + "_" + oa_proportion['bucket'].astype(str)

In [230]:
oa_proportion

     product    bucket  %assign        oa  group        combined_oa
0        H4C     X-DAY     1.00  In-House      1          H4C_X-DAY
1        H4C   OD1-OD2     1.00       JMT      2        H4C_OD1-OD2
2        C4C       ALL     0.60       DHA      3            C4C_ALL
3        C4C       ALL     0.40       PCN      3            C4C_ALL
4        SF+     X-DAY     1.00  In-House      4          SF+_X-DAY
5        SF+   OD1-OD2     1.00  In-House      4        SF+_OD1-OD2
6        SF+       NPL     0.20      THAS      5            SF+_NPL
7        SF+       NPL     0.18       LBR      5            SF+_NPL
8        SF+       NPL     0.17       ASJ      5            SF+_NPL
9        SF+       NPL     0.16       WSP      5            SF+_NPL
10       SF+       NPL     0.15       PCN      5            SF+_NPL
11       SF+       NPL     0.14       MGC      5            SF+_NPL
12  RL ML TL  XDAY-OD2     0.22       PCN      6  RL ML TL_XDAY-OD2
13  RL ML TL  XDAY-OD2     0.20       ACT      6  RL ML TL_XDAY-OD2
14  RL ML TL  XDAY-OD2     0.18  In-House      6  RL ML TL_XDAY-OD2
15  RL ML TL  XDAY-OD2     0.12       DHA      6  RL ML TL_XDAY-OD2
16  RL ML TL  XDAY-OD2     0.11       KOR      6  RL ML TL_XDAY-OD2
17  RL ML TL  XDAY-OD2     0.09       KWC      6  RL ML TL_XDAY-OD2
18  RL ML TL  XDAY-OD2     0.08       MMN      6  RL ML TL_XDAY-OD2
19  RL ML TL   OD3-OD6     0.30       KWC      7   RL ML TL_OD3-OD6
20  RL ML TL   OD3-OD6     0.25       MMN      7   RL ML TL_OD3-OD6
21  RL ML TL   OD3-OD6     0.20       UPC      7   RL ML TL_OD3-OD6
22  RL ML TL   OD3-OD6     0.15       GMV      7   RL ML TL_OD3-OD6
23  RL ML TL   OD3-OD6     0.10       MGC      7   RL ML TL_OD3-OD6

In [231]:
ar.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product', 'status_lm', 'old_oa', 'new_oa', 'reason', 'product_val'],
      dtype='object')

In [232]:
ar['combined_ar'] = ar['product_val'].astype(str) + "_" + ar['overdue_months_division_code'].astype(str)

In [237]:
ar['overdue_months_division_code_val'] = ar['combined_ar'].apply(lambda x: fuzzy_match(x, oa_proportion['combined_oa'].unique()))

In [238]:
ar[['overdue_months_division_code_val','product_val']]

      overdue_months_division_code_val product_val
0                            H4C_X-DAY    RL ML TL
1                            H4C_X-DAY    RL ML TL
2                            H4C_X-DAY    RL ML TL
3                    RL ML TL_XDAY-OD2    RL ML TL
4                            H4C_X-DAY    RL ML TL
...                                ...         ...
38108                 RL ML TL_OD3-OD6    RL ML TL
38109                        H4C_X-DAY    RL ML TL
38110                        H4C_X-DAY    RL ML TL
38111                RL ML TL_XDAY-OD2    RL ML TL
38112                        H4C_X-DAY    RL ML TL

[38113 rows x 2 columns]

In [169]:
oa_proportion

     product    bucket  %assign        oa  group       combined_key
0        H4C     X-DAY     1.00  In-House      1          H4C_X-DAY
1        H4C   OD1-OD2     1.00       JMT      2        H4C_OD1-OD2
2        C4C       ALL     0.60       DHA      3            C4C_ALL
3        C4C       ALL     0.40       PCN      3            C4C_ALL
4        SF+     X-DAY     1.00  In-House      4          SF+_X-DAY
5        SF+   OD1-OD2     1.00  In-House      4        SF+_OD1-OD2
6        SF+       NPL     0.20      THAS      5            SF+_NPL
7        SF+       NPL     0.18       LBR      5            SF+_NPL
8        SF+       NPL     0.17       ASJ      5            SF+_NPL
9        SF+       NPL     0.16       WSP      5            SF+_NPL
10       SF+       NPL     0.15       PCN      5            SF+_NPL
11       SF+       NPL     0.14       MGC      5            SF+_NPL
12  RL ML TL  XDAY-OD2     0.22       PCN      6  RL ML TL_XDAY-OD2
13  RL ML TL  XDAY-OD2     0.20       ACT      6  RL ML TL_XDAY-OD2
14  RL ML TL  XDAY-OD2     0.18  In-House      6  RL ML TL_XDAY-OD2
15  RL ML TL  XDAY-OD2     0.12       DHA      6  RL ML TL_XDAY-OD2
16  RL ML TL  XDAY-OD2     0.11       KOR      6  RL ML TL_XDAY-OD2
17  RL ML TL  XDAY-OD2     0.09       KWC      6  RL ML TL_XDAY-OD2
18  RL ML TL  XDAY-OD2     0.08       MMN      6  RL ML TL_XDAY-OD2
19  RL ML TL   OD3-OD6     0.30       KWC      7   RL ML TL_OD3-OD6
20  RL ML TL   OD3-OD6     0.25       MMN      7   RL ML TL_OD3-OD6
21  RL ML TL   OD3-OD6     0.20       UPC      7   RL ML TL_OD3-OD6
22  RL ML TL   OD3-OD6     0.15       GMV      7   RL ML TL_OD3-OD6
23  RL ML TL   OD3-OD6     0.10       MGC      7   RL ML TL_OD3-OD6

In [240]:
ar.merge(oa_proportion,left_on=[ 'overdue_months_division_code_val'], right_on=['combined_oa'], how='left')

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
0,02-03-2568,14220046109,3240900116555,23541.73,0,706.25,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.00,In-House,1,H4C_X-DAY
1,02-03-2568,14220082584,3100700619422,82466.01,0,2473.98,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.00,In-House,1,H4C_X-DAY
2,02-03-2568,14230283551,3101300732206,424.47,0,432.40,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.00,In-House,1,H4C_X-DAY
3,02-03-2568,14230554514,3321200109131,33990.39,0,2638.96,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.22,PCN,6,RL ML TL_XDAY-OD2
4,02-03-2568,14230554514,3321200109131,33990.39,0,2638.96,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.20,ACT,6,RL ML TL_XDAY-OD2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75174,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.12,DHA,6,RL ML TL_XDAY-OD2
75175,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.11,KOR,6,RL ML TL_XDAY-OD2
75176,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.09,KWC,6,RL ML TL_XDAY-OD2
75177,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.08,MMN,6,RL ML TL_XDAY-OD2
75178,02-03-2568,12200000014,1100400134435,58220.40,0,1746.61,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.00,In-House,1,H4C_X-DAY

In [241]:
ar_merge = ar.merge(oa_proportion,left_on=[ 'overdue_months_division_code_val'], right_on=['combined_oa'], how='left')

In [251]:
ar_merge['combined_ar'].unique()

array(['RL ML TL_Grace_X-Day', 'RL ML TL_OD2', 'RL ML TL_OD3',
       'RL ML TL_OD1', 'RL ML TL_OD5', 'H4C_OD1', 'RL ML TL_OD6',
       'RL ML TL_OD4', 'H4C_OD2', 'C4C_Grace_X-Day', 'C4C_OD1',
       'H4C_Grace_X-Day', 'C4C_OD3', 'C4C_OD2', 'C4C_OD4', 'C4C_OD5',
       'C4C_OD6'], dtype=object)

In [268]:
group = ar_merge['group'].unique()

In [269]:
group

array([1, 6, 7, 2])

In [ ]:
def split_dataframe_by_group(df, group_column, prefix):
    # Get unique values in the specified group column
    unique_values = df[group_column].unique()
    
    # Create a list to store the names of the created DataFrames
    dataframe_names = []
    
    # Create separate dataframes for each unique value in the group column
    for value in unique_values:
        df_name = f"{prefix}_{value}"
        globals()[df_name] = df[df[group_column] == value]
        dataframe_names.append(df_name)
    
    # Print the name of each created dataframe
    for df_name in dataframe_names:
        print(f"Dataframe name: {df_name}")
        # Uncomment the next line to print the dataframe contents
        # print(globals()[df_name], "\n")
    
    # Return the list of DataFrame names
    return dataframe_names

In [285]:
split_dataframe_by_group(ar_merge,'group','ar')

Dataframe name: ar_1
Dataframe name: ar_6
Dataframe name: ar_7
Dataframe name: ar_2

In [315]:
split_dataframe_by_group(oa_proportion,'group','oa')

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7

In [390]:
def split_dataframe_by_group(df, group_column, prefix):
    # Get unique values in the specified group column
    unique_values = df[group_column].unique()
    
    # Create a list to store the names of the created DataFrames
    dataframe_names = []
    
    # Create separate dataframes for each unique value in the group column
    for value in unique_values:
        df_name = f"{prefix}_{value}"
        globals()[df_name] = df[df[group_column] == value]
        dataframe_names.append(df_name)
    
    # Print the name of each created dataframe
    for df_name in dataframe_names:
        print(f"Dataframe name: {df_name}")
        # Uncomment the next line to print the dataframe contents
        # print(globals()[df_name], "\n")
    
    # Return the list of DataFrame names
    return dataframe_names

In [391]:
split_dataframe_by_group(oa_proportion,'group','oa')

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7

['oa_1', 'oa_2', 'oa_3', 'oa_4', 'oa_5', 'oa_6', 'oa_7']

In [373]:
split_dataframe_by_group(ar_merge,'group','ar')

Dataframe name: ar_1
Dataframe name: ar_6
Dataframe name: ar_7
Dataframe name: ar_2

['ar_1', 'ar_6', 'ar_7', 'ar_2']

In [374]:
oa_list = split_dataframe_by_group(oa_proportion,'group','oa')
ar_list = split_dataframe_by_group(ar_merge,'group','ar')

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: ar_1
Dataframe name: ar_6
Dataframe name: ar_7
Dataframe name: ar_2

In [396]:
dataframes  = {name: globals()[name] for name in oa_list}

In [380]:
ar_list[0][-1:]

'1'

In [379]:
oa_list[0][-1:]

'1'

In [ ]:
oa_list = split_dataframe_by_group(oa_proportion,'group','oa')
ar_list = split_dataframe_by_group(ar_merge,'group','ar')
dataframes  = {name: globals()[name] for name in oa_list}


for i in ar_list :
    order = i[0][-1:]
    df_y = i[i['ever'] == 'Y'].copy()
    df_n = i[i['ever'] == 'N'].copy()
    size_y = df_y['contract_no'].count()
    size_n = df_n['contract_no'].count()
    oa = dataframes[f'oa_{order}']
    df_y['assigned'] = np.random.choice(oa['oa'], 
                                        size=size_y, 
                                        p=oa['%assign'])
    df_n['assigned'] = np.random.choice(oa['oa'], 
                                        size=size_n, 
                                        p=oa['%assign'])
    f'df_assign_{i}'= pd.concat([df_y, df_n], ignore_index=True)

SyntaxError: cannot assign to f-string expression here. Maybe you meant '==' instead of '='? (2758451621.py, line 17)

In [412]:
# Split dataframes by group
oa_list = split_dataframe_by_group(oa_proportion, 'group', 'oa')
ar_list = split_dataframe_by_group(ar_merge, 'group', 'ar')

# Create a dictionary of dataframes using globals
dataframes_oa = {name: globals()[name] for name in oa_list}

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: ar_1
Dataframe name: ar_6
Dataframe name: ar_7
Dataframe name: ar_2

In [413]:
dataframes_ar = {name: globals()[name] for name in ar_list}

In [415]:
dataframes_ar['ar_1']

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
0,02-03-2568,14220046109,3240900116555,23541.730000,0,706.250000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
1,02-03-2568,14220082584,3100700619422,82466.010000,0,2473.980000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
2,02-03-2568,14230283551,3101300732206,424.470000,0,432.400000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
10,02-03-2568,14220054168,3100503160974,10233.800000,0,1405.000000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
11,02-03-2568,14230406466,1459900793051,2590.980000,0,827.000000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75150,02-03-2568,12180048102,3489900074743,263412.480000,0,7902.370000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75151,02-03-2568,12160031301,3610500062721,62662.700000,0,1879.880000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75169,02-03-2568,12170059023,3800900578278,20232.960000,0,619.980000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75170,02-03-2568,12160033410,3820800162096,46587.050000,0,1397.610000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75178,02-03-2568,12200000014,1100400134435,58220.400000,0,1746.610000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY

In [402]:
ar_1[ar_1['ever'] == 'Y'].copy()

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
16,02-03-2568,12170027459,1450600200897,14072.830000,0,422.180000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
66,02-03-2568,12170060851,5330400084374,34313.470000,0,1029.400000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
67,02-03-2568,12180049674,3620500225531,190829.660000,0,5724.880000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
69,02-03-2568,12160022616,3100100904461,54831.820000,0,1644.950000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
81,02-03-2568,12170030757,1509901516602,18991.910000,0,569.750000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75125,02-03-2568,12180007591,1159900116523,10384.270000,0,311.520000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75131,02-03-2568,12170031577,1540500057625,19862.050000,0,595.860000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75133,02-03-2568,12180008420,1190400004949,31800.720000,0,954.020000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75148,02-03-2568,12180046710,3430501142780,9311.060000,0,300.000000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75151,02-03-2568,12160031301,3610500062721,62662.700000,0,1879.880000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY

In [411]:
ar_list

['ar_1', 'ar_6', 'ar_7', 'ar_2']

In [416]:
for i in dataframes_ar : 
    print(i)

ar_1
ar_6
ar_7
ar_2

In [ ]:
dataframes_ar = {name: globals()[name] for name in ar_list}

In [419]:
dataframes_ar['ar_1']

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
0,02-03-2568,14220046109,3240900116555,23541.730000,0,706.250000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
1,02-03-2568,14220082584,3100700619422,82466.010000,0,2473.980000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
2,02-03-2568,14230283551,3101300732206,424.470000,0,432.400000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
10,02-03-2568,14220054168,3100503160974,10233.800000,0,1405.000000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
11,02-03-2568,14230406466,1459900793051,2590.980000,0,827.000000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75150,02-03-2568,12180048102,3489900074743,263412.480000,0,7902.370000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75151,02-03-2568,12160031301,3610500062721,62662.700000,0,1879.880000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75169,02-03-2568,12170059023,3800900578278,20232.960000,0,619.980000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75170,02-03-2568,12160033410,3820800162096,46587.050000,0,1397.610000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY
75178,02-03-2568,12200000014,1100400134435,58220.400000,0,1746.610000,1,1,1,1,...,NaN,RL ML TL,RL ML TL_Grace_X-Day,H4C_X-DAY,H4C,X-DAY,1.000000,In-House,1,H4C_X-DAY

In [ ]:
dataframes_ar[]

{'ar_1':         base_date  customer_no  customer_id_no  principal_balance  \
 0      02-03-2568  14220046109   3240900116555       23541.730000
 1      02-03-2568  14220082584   3100700619422       82466.010000
 2      02-03-2568  14230283551   3101300732206         424.470000
 10     02-03-2568  14220054168   3100503160974       10233.800000
 11     02-03-2568  14230406466   1459900793051        2590.980000
 ...           ...          ...             ...                ...
 75150  02-03-2568  12180048102   3489900074743      263412.480000
 75151  02-03-2568  12160031301   3610500062721       62662.700000
 75169  02-03-2568  12170059023   3800900578278       20232.960000
 75170  02-03-2568  12160033410   3820800162096       46587.050000
 75178  02-03-2568  12200000014   1100400134435       58220.400000

        total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
 0                        0               706.250000                      1
 1                        0              2473.980000                      1
 2                        0               432.400000                      1
 10                       0              1405.000000                      1
 11                       0               827.000000                      1
 ...                    ...                      ...                    ...
 75150                    0              7902.370000                      1
 75151                    0              1879.880000                      1
 75169                    0               619.980000                      1
 75170                    0              1397.610000                      1
 75178                    0              1746.610000                      1

        overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
 0                         1             1                      1  ...    NaN
 1                         1             1                      1  ...    NaN
 2                         1             1                      1  ...    NaN
 10                        1             1                      1  ...    NaN
 11                        1             1                      1  ...    NaN
 ...                     ...           ...                    ...  ...    ...
 75150                     1             1                      1  ...    NaN
 75151                     1             1                      1  ...    NaN
 75169                     1             1                      1  ...    NaN
 75170                     1             1                      1  ...    NaN
 75178                     1             1                      1  ...    NaN

       product_val           combined_ar  overdue_months_division_code_val  \
 0        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 1        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 2        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 10       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 11       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 ...           ...                   ...                               ...
 75150    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 75151    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 75169    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 75170    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
 75178    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY

       product_y  bucket  %assign        oa  group  combined_oa
 0           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 1           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 2           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 10          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 11          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 ...         ...     ...      ...       ...    ...          ...
 75150       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 75151       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 75169       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 75170       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
 75178       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY

 [29230 rows x 94 columns],
 'ar_6':         base_date  customer_no  customer_id_no  principal_balance  \
 3      02-03-2568  14230554514   3321200109131       33990.390000
 4      02-03-2568  14230554514   3321200109131       33990.390000
 5      02-03-2568  14230554514   3321200109131       33990.390000
 6      02-03-2568  14230554514   3321200109131       33990.390000
 7      02-03-2568  14230554514   3321200109131       33990.390000
 ...           ...          ...             ...                ...
 75173  02-03-2568  12170041240   1910500035091       62978.010000
 75174  02-03-2568  12170041240   1910500035091       62978.010000
 75175  02-03-2568  12170041240   1910500035091       62978.010000
 75176  02-03-2568  12170041240   1910500035091       62978.010000
 75177  02-03-2568  12170041240   1910500035091       62978.010000

        total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
 3                        0              2638.960000                     60
 4                        0              2638.960000                     60
 5                        0              2638.960000                     60
 6                        0              2638.960000                     60
 7                        0              2638.960000                     60
 ...                    ...                      ...                    ...
 75173                    0              4153.840000                     60
 75174                    0              4153.840000                     60
 75175                    0              4153.840000                     60
 75176                    0              4153.840000                     60
 75177                    0              4153.840000                     60

        overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
 3                         3            60                      3  ...    NaN
 4                         3            60                      3  ...    NaN
 5                         3            60                      3  ...    NaN
 6                         3            60                      3  ...    NaN
 7                         3            60                      3  ...    NaN
 ...                     ...           ...                    ...  ...    ...
 75173                     3            60                      3  ...    NaN
 75174                     3            60                      3  ...    NaN
 75175                     3            60                      3  ...    NaN
 75176                     3            60                      3  ...    NaN
 75177                     3            60                      3  ...    NaN

       product_val   combined_ar  overdue_months_division_code_val product_y  \
 3        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 4        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 5        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 6        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 7        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 ...           ...           ...                               ...       ...
 75173    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 75174    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 75175    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 75176    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
 75177    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL

          bucket  %assign        oa  group        combined_oa
 3      XDAY-OD2 0.220000       PCN      6  RL ML TL_XDAY-OD2
 4      XDAY-OD2 0.200000       ACT      6  RL ML TL_XDAY-OD2
 5      XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
 6      XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
 7      XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
 ...         ...      ...       ...    ...                ...
 75173  XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
 75174  XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
 75175  XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
 75176  XDAY-OD2 0.090000       KWC      6  RL ML TL_XDAY-OD2
 75177  XDAY-OD2 0.080000       MMN      6  RL ML TL_XDAY-OD2

 [12495 rows x 94 columns],
 'ar_7':         base_date  customer_no  customer_id_no  principal_balance  \
 20     02-03-2568  14231270722   1411200124914       30429.630000
 21     02-03-2568  14231270722   1411200124914       30429.630000
 22     02-03-2568  14231270722   1411200124914       30429.630000
 23     02-03-2568  14231270722   1411200124914       30429.630000
 24     02-03-2568  14231270722   1411200124914       30429.630000
 ...           ...          ...             ...                ...
 75164  02-03-2568  12180032167   1801200102577       11977.630000
 75165  02-03-2568  12180032167   1801200102577       11977.630000
 75166  02-03-2568  12180032167   1801200102577       11977.630000
 75167  02-03-2568  12180032167   1801200102577       11977.630000
 75168  02-03-2568  12180032167   1801200102577       11977.630000

        total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
 20                       0              3120.730000                     91
 21                       0              3120.730000                     91
 22                       0              3120.730000                     91
 23                       0              3120.730000                     91
 24                       0              3120.730000                     91
 ...                    ...                      ...                    ...
 75164                    0               474.170000                     29
 75165                    0               474.170000                     29
 75166                    0               474.170000                     29
 75167                    0               474.170000                     29
 75168                    0               474.170000                     29

        overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
 20                        4            91                      4  ...    NaN
 21                        4            91                      4  ...    NaN
 22                        4            91                      4  ...    NaN
 23                        4            91                      4  ...    NaN
 24                        4            91                      4  ...    NaN
 ...                     ...           ...                    ...  ...    ...
 75164                     2            29                      2  ...    NaN
 75165                     2            29                      2  ...    NaN
 75166                     2            29                      2  ...    NaN
 75167                     2            29                      2  ...    NaN
 75168                     2            29                      2  ...    NaN

       product_val   combined_ar  overdue_months_division_code_val product_y  \
 20       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
 21       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
 22       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
 23       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
 24       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
 ...           ...           ...                               ...       ...
 75164    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
 75165    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
 75166    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
 75167    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
 75168    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL

         bucket  %assign   oa  group       combined_oa
 20     OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
 21     OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
 22     OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
 23     OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
 24     OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6
 ...        ...      ...  ...    ...               ...
 75164  OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
 75165  OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
 75166  OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
 75167  OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
 75168  OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6

 [32945 rows x 94 columns],
 'ar_2':         base_date  customer_no  customer_id_no  principal_balance  \
 87     02-03-2568  13210010053   3100900470236     1103849.340000
 239    02-03-2568  13210012617   3650100149510     1434157.210000
 240    02-03-2568  14230330215   3800900020943     1483686.080000
 299    02-03-2568  14231001709   3100900735906      481354.920000
 1073   02-03-2568  14220004175   1609900119498      588647.720000
 ...           ...          ...             ...                ...
 74901  02-03-2568  14230421286   5800100095759      319668.750000
 74954  02-03-2568  14230375578   1930600130258      325943.940000
 74968  02-03-2568  14231218448   1930800009452      535444.870000
 74969  02-03-2568  14231244945   3900900186751      518364.770000
 75137  02-03-2568  14230366869   3361000027246      255536.520000

        total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
 87                       0             10460.000000                     29
 239                      0             26505.000000                     29
 240                      0             32499.000000                     60
 299                      0             28880.000000                     29
 1073                     0             24258.530000                     29
 ...                    ...                      ...                    ...
 74901                    0             25670.000000                     60
 74954                    0              8511.000000                     29
 74968                    0             24540.000000                     29
 74969                    0             35217.000000                     60
 75137                    0             40002.000000                    121

        overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
 87                        2            29                      2  ...    NaN
 239                       2            29                      2  ...    NaN
 240                       3            60                      3  ...    NaN
 299                       2            29                      2  ...    NaN
 1073                      2            29                      2  ...    NaN
 ...                     ...           ...                    ...  ...    ...
 74901                     3            60                      3  ...    NaN
 74954                     2            29                      2  ...    NaN
 74968                     2            29                      2  ...    NaN
 74969                     3            60                      3  ...    NaN
 75137                     5           121                      5  ...    NaN

       product_val combined_ar  overdue_months_division_code_val product_y  \
 87            H4C     H4C_OD1                       H4C_OD1-OD2       H4C
 239           H4C     H4C_OD1                       H4C_OD1-OD2       H4C
 240           H4C     H4C_OD2                       H4C_OD1-OD2       H4C
 299           C4C     C4C_OD1                       H4C_OD1-OD2       H4C
 1073          C4C     C4C_OD1                       H4C_OD1-OD2       H4C
 ...           ...         ...                               ...       ...
 74901         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
 74954         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
 74968         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
 74969         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
 75137         C4C     C4C_OD4                       H4C_OD1-OD2       H4C

         bucket  %assign   oa  group  combined_oa
 87     OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 239    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 240    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 299    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 1073   OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 ...        ...      ...  ...    ...          ...
 74901  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 74954  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 74968  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 74969  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
 75137  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2

 [509 rows x 94 columns]}

In [ ]:
for ar_df in ar_list:
    print(ar_df)
    ar_df= dataframes_ar[i]
    order = ar_df[0][-1]  # Extract the last character of the first element for 'order'
    # print('ddddd')
    df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
    print('255f56cg6f')
    df_n = ar_df.loc[ar_df['ever'] == 'N']# Filter rows where 'ever' == 'N'
    
    size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
    size_n = df_n['contract_no'].count()  # Count of 'N' contracts
    
    # Get the corresponding OA dataframe based on order
    oa = dataframes[f'oa_{order}']
    
    # Assign values randomly based on the OA assignment probabilities
    df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
    df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
    
    # Combine the 'Y' and 'N' dataframes
    assigned_df = pd.concat([df_y, df_n], ignore_index=True)
    
    # Assign the combined dataframe to a variable with a dynamic name
    globals()[f'df_assign_{order}'] = assigned_df

ar_1

KeyError: 0

In [432]:


# Iterate through each ar dataframe in ar_list
for i in dataframes_ar:
    ar_df= dataframes_ar[i]
    print(i)
    print(ar_df)
    # print(i[-1])
    order = i[-1]  # Extract the last character of the first element for 'order'
    print('order',order)
    df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
    df_n = ar_df.loc[ar_df['ever'] == 'N']# Filter rows where 'ever' == 'N'
    
    size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
    size_n = df_n['contract_no'].count()  # Count of 'N' contracts
    
    # Get the corresponding OA dataframe based on order
    oa = dataframes[f'oa_{order}']
    
    # Assign values randomly based on the OA assignment probabilities
    df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
    df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
    
    # Combine the 'Y' and 'N' dataframes
    assigned_df = pd.concat([df_y, df_n], ignore_index=True)
    
    # Assign the combined dataframe to a variable with a dynamic name
    globals()[f'df_assign_{order}'] = assigned_df

ar_1
        base_date  customer_no  customer_id_no  principal_balance  \
0      02-03-2568  14220046109   3240900116555       23541.730000
1      02-03-2568  14220082584   3100700619422       82466.010000
2      02-03-2568  14230283551   3101300732206         424.470000
10     02-03-2568  14220054168   3100503160974       10233.800000
11     02-03-2568  14230406466   1459900793051        2590.980000
...           ...          ...             ...                ...
75150  02-03-2568  12180048102   3489900074743      263412.480000
75151  02-03-2568  12160031301   3610500062721       62662.700000
75169  02-03-2568  12170059023   3800900578278       20232.960000
75170  02-03-2568  12160033410   3820800162096       46587.050000
75178  02-03-2568  12200000014   1100400134435       58220.400000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                        0               706.250000                      1
1                        0              2473.980000                      1
2                        0               432.400000                      1
10                       0              1405.000000                      1
11                       0               827.000000                      1
...                    ...                      ...                    ...
75150                    0              7902.370000                      1
75151                    0              1879.880000                      1
75169                    0               619.980000                      1
75170                    0              1397.610000                      1
75178                    0              1746.610000                      1

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
0                         1             1                      1  ...    NaN
1                         1             1                      1  ...    NaN
2                         1             1                      1  ...    NaN
10                        1             1                      1  ...    NaN
11                        1             1                      1  ...    NaN
...                     ...           ...                    ...  ...    ...
75150                     1             1                      1  ...    NaN
75151                     1             1                      1  ...    NaN
75169                     1             1                      1  ...    NaN
75170                     1             1                      1  ...    NaN
75178                     1             1                      1  ...    NaN

      product_val           combined_ar  overdue_months_division_code_val  \
0        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
1        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
2        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
10       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
11       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
...           ...                   ...                               ...
75150    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75151    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75169    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75170    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75178    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY

      product_y  bucket  %assign        oa  group  combined_oa
0           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
1           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
2           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
10          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
11          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
...         ...     ...      ...       ...    ...          ...
75150       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75151       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75169       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75170       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75178       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY

[29230 rows x 94 columns]
order 1
ar_6
        base_date  customer_no  customer_id_no  principal_balance  \
3      02-03-2568  14230554514   3321200109131       33990.390000
4      02-03-2568  14230554514   3321200109131       33990.390000
5      02-03-2568  14230554514   3321200109131       33990.390000
6      02-03-2568  14230554514   3321200109131       33990.390000
7      02-03-2568  14230554514   3321200109131       33990.390000
...           ...          ...             ...                ...
75173  02-03-2568  12170041240   1910500035091       62978.010000
75174  02-03-2568  12170041240   1910500035091       62978.010000
75175  02-03-2568  12170041240   1910500035091       62978.010000
75176  02-03-2568  12170041240   1910500035091       62978.010000
75177  02-03-2568  12170041240   1910500035091       62978.010000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
3                        0              2638.960000                     60
4                        0              2638.960000                     60
5                        0              2638.960000                     60
6                        0              2638.960000                     60
7                        0              2638.960000                     60
...                    ...                      ...                    ...
75173                    0              4153.840000                     60
75174                    0              4153.840000                     60
75175                    0              4153.840000                     60
75176                    0              4153.840000                     60
75177                    0              4153.840000                     60

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
3                         3            60                      3  ...    NaN
4                         3            60                      3  ...    NaN
5                         3            60                      3  ...    NaN
6                         3            60                      3  ...    NaN
7                         3            60                      3  ...    NaN
...                     ...           ...                    ...  ...    ...
75173                     3            60                      3  ...    NaN
75174                     3            60                      3  ...    NaN
75175                     3            60                      3  ...    NaN
75176                     3            60                      3  ...    NaN
75177                     3            60                      3  ...    NaN

      product_val   combined_ar  overdue_months_division_code_val product_y  \
3        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
4        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
5        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
6        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
7        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
...           ...           ...                               ...       ...
75173    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75174    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75175    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75176    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75177    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL

         bucket  %assign        oa  group        combined_oa
3      XDAY-OD2 0.220000       PCN      6  RL ML TL_XDAY-OD2
4      XDAY-OD2 0.200000       ACT      6  RL ML TL_XDAY-OD2
5      XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
6      XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
7      XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
...         ...      ...       ...    ...                ...
75173  XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
75174  XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
75175  XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
75176  XDAY-OD2 0.090000       KWC      6  RL ML TL_XDAY-OD2
75177  XDAY-OD2 0.080000       MMN      6  RL ML TL_XDAY-OD2

[12495 rows x 94 columns]
order 6
ar_7
        base_date  customer_no  customer_id_no  principal_balance  \
20     02-03-2568  14231270722   1411200124914       30429.630000
21     02-03-2568  14231270722   1411200124914       30429.630000
22     02-03-2568  14231270722   1411200124914       30429.630000
23     02-03-2568  14231270722   1411200124914       30429.630000
24     02-03-2568  14231270722   1411200124914       30429.630000
...           ...          ...             ...                ...
75164  02-03-2568  12180032167   1801200102577       11977.630000
75165  02-03-2568  12180032167   1801200102577       11977.630000
75166  02-03-2568  12180032167   1801200102577       11977.630000
75167  02-03-2568  12180032167   1801200102577       11977.630000
75168  02-03-2568  12180032167   1801200102577       11977.630000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
20                       0              3120.730000                     91
21                       0              3120.730000                     91
22                       0              3120.730000                     91
23                       0              3120.730000                     91
24                       0              3120.730000                     91
...                    ...                      ...                    ...
75164                    0               474.170000                     29
75165                    0               474.170000                     29
75166                    0               474.170000                     29
75167                    0               474.170000                     29
75168                    0               474.170000                     29

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
20                        4            91                      4  ...    NaN
21                        4            91                      4  ...    NaN
22                        4            91                      4  ...    NaN
23                        4            91                      4  ...    NaN
24                        4            91                      4  ...    NaN
...                     ...           ...                    ...  ...    ...
75164                     2            29                      2  ...    NaN
75165                     2            29                      2  ...    NaN
75166                     2            29                      2  ...    NaN
75167                     2            29                      2  ...    NaN
75168                     2            29                      2  ...    NaN

      product_val   combined_ar  overdue_months_division_code_val product_y  \
20       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
21       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
22       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
23       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
24       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
...           ...           ...                               ...       ...
75164    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75165    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75166    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75167    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75168    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL

        bucket  %assign   oa  group       combined_oa
20     OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
21     OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
22     OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
23     OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
24     OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6
...        ...      ...  ...    ...               ...
75164  OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
75165  OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
75166  OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
75167  OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
75168  OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6

[32945 rows x 94 columns]
order 7
ar_2
        base_date  customer_no  customer_id_no  principal_balance  \
87     02-03-2568  13210010053   3100900470236     1103849.340000
239    02-03-2568  13210012617   3650100149510     1434157.210000
240    02-03-2568  14230330215   3800900020943     1483686.080000
299    02-03-2568  14231001709   3100900735906      481354.920000
1073   02-03-2568  14220004175   1609900119498      588647.720000
...           ...          ...             ...                ...
74901  02-03-2568  14230421286   5800100095759      319668.750000
74954  02-03-2568  14230375578   1930600130258      325943.940000
74968  02-03-2568  14231218448   1930800009452      535444.870000
74969  02-03-2568  14231244945   3900900186751      518364.770000
75137  02-03-2568  14230366869   3361000027246      255536.520000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
87                       0             10460.000000                     29
239                      0             26505.000000                     29
240                      0             32499.000000                     60
299                      0             28880.000000                     29
1073                     0             24258.530000                     29
...                    ...                      ...                    ...
74901                    0             25670.000000                     60
74954                    0              8511.000000                     29
74968                    0             24540.000000                     29
74969                    0             35217.000000                     60
75137                    0             40002.000000                    121

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
87                        2            29                      2  ...    NaN
239                       2            29                      2  ...    NaN
240                       3            60                      3  ...    NaN
299                       2            29                      2  ...    NaN
1073                      2            29                      2  ...    NaN
...                     ...           ...                    ...  ...    ...
74901                     3            60                      3  ...    NaN
74954                     2            29                      2  ...    NaN
74968                     2            29                      2  ...    NaN
74969                     3            60                      3  ...    NaN
75137                     5           121                      5  ...    NaN

      product_val combined_ar  overdue_months_division_code_val product_y  \
87            H4C     H4C_OD1                       H4C_OD1-OD2       H4C
239           H4C     H4C_OD1                       H4C_OD1-OD2       H4C
240           H4C     H4C_OD2                       H4C_OD1-OD2       H4C
299           C4C     C4C_OD1                       H4C_OD1-OD2       H4C
1073          C4C     C4C_OD1                       H4C_OD1-OD2       H4C
...           ...         ...                               ...       ...
74901         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
74954         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
74968         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
74969         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
75137         C4C     C4C_OD4                       H4C_OD1-OD2       H4C

        bucket  %assign   oa  group  combined_oa
87     OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
239    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
240    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
299    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
1073   OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
...        ...      ...  ...    ...          ...
74901  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74954  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74968  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74969  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
75137  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2

[509 rows x 94 columns]
order 2

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\1635222356.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [433]:
import pandas as pd
import numpy as np

# List to store the concatenated dataframes
combined_dfs = []

# Iterate through each ar dataframe in dataframes_ar
for i in dataframes_ar:
    ar_df = dataframes_ar[i]
    print(i)
    print(ar_df)

    order = i[-1]  # Extract the last character of the first element for 'order'
    print('order', order)
    
    df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
    df_n = ar_df.loc[ar_df['ever'] == 'N']  # Filter rows where 'ever' == 'N'
    
    size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
    size_n = df_n['contract_no'].count()  # Count of 'N' contracts
    
    # Get the corresponding OA dataframe based on order
    oa = dataframes[f'oa_{order}']
    
    # Assign values randomly based on the OA assignment probabilities
    df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
    df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
    
    # Combine the 'Y' and 'N' dataframes
    assigned_df = pd.concat([df_y, df_n], ignore_index=True)
    
    # Store the concatenated dataframe in the list
    combined_dfs.append(assigned_df)

# Concatenate all the combined dataframes into one final dataframe
final_df = pd.concat(combined_dfs, ignore_index=True)

# Optionally, assign the final concatenated dataframe to a dynamic variable
globals()['df_assign_all'] = final_df

# Print the final dataframe
print(final_df)

ar_1
        base_date  customer_no  customer_id_no  principal_balance  \
0      02-03-2568  14220046109   3240900116555       23541.730000
1      02-03-2568  14220082584   3100700619422       82466.010000
2      02-03-2568  14230283551   3101300732206         424.470000
10     02-03-2568  14220054168   3100503160974       10233.800000
11     02-03-2568  14230406466   1459900793051        2590.980000
...           ...          ...             ...                ...
75150  02-03-2568  12180048102   3489900074743      263412.480000
75151  02-03-2568  12160031301   3610500062721       62662.700000
75169  02-03-2568  12170059023   3800900578278       20232.960000
75170  02-03-2568  12160033410   3820800162096       46587.050000
75178  02-03-2568  12200000014   1100400134435       58220.400000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                        0               706.250000                      1
1                        0              2473.980000                      1
2                        0               432.400000                      1
10                       0              1405.000000                      1
11                       0               827.000000                      1
...                    ...                      ...                    ...
75150                    0              7902.370000                      1
75151                    0              1879.880000                      1
75169                    0               619.980000                      1
75170                    0              1397.610000                      1
75178                    0              1746.610000                      1

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
0                         1             1                      1  ...    NaN
1                         1             1                      1  ...    NaN
2                         1             1                      1  ...    NaN
10                        1             1                      1  ...    NaN
11                        1             1                      1  ...    NaN
...                     ...           ...                    ...  ...    ...
75150                     1             1                      1  ...    NaN
75151                     1             1                      1  ...    NaN
75169                     1             1                      1  ...    NaN
75170                     1             1                      1  ...    NaN
75178                     1             1                      1  ...    NaN

      product_val           combined_ar  overdue_months_division_code_val  \
0        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
1        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
2        RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
10       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
11       RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
...           ...                   ...                               ...
75150    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75151    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75169    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75170    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY
75178    RL ML TL  RL ML TL_Grace_X-Day                         H4C_X-DAY

      product_y  bucket  %assign        oa  group  combined_oa
0           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
1           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
2           H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
10          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
11          H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
...         ...     ...      ...       ...    ...          ...
75150       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75151       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75169       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75170       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY
75178       H4C   X-DAY 1.000000  In-House      1    H4C_X-DAY

[29230 rows x 94 columns]
order 1
ar_6
        base_date  customer_no  customer_id_no  principal_balance  \
3      02-03-2568  14230554514   3321200109131       33990.390000
4      02-03-2568  14230554514   3321200109131       33990.390000
5      02-03-2568  14230554514   3321200109131       33990.390000
6      02-03-2568  14230554514   3321200109131       33990.390000
7      02-03-2568  14230554514   3321200109131       33990.390000
...           ...          ...             ...                ...
75173  02-03-2568  12170041240   1910500035091       62978.010000
75174  02-03-2568  12170041240   1910500035091       62978.010000
75175  02-03-2568  12170041240   1910500035091       62978.010000
75176  02-03-2568  12170041240   1910500035091       62978.010000
75177  02-03-2568  12170041240   1910500035091       62978.010000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
3                        0              2638.960000                     60
4                        0              2638.960000                     60
5                        0              2638.960000                     60
6                        0              2638.960000                     60
7                        0              2638.960000                     60
...                    ...                      ...                    ...
75173                    0              4153.840000                     60
75174                    0              4153.840000                     60
75175                    0              4153.840000                     60
75176                    0              4153.840000                     60
75177                    0              4153.840000                     60

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
3                         3            60                      3  ...    NaN
4                         3            60                      3  ...    NaN
5                         3            60                      3  ...    NaN
6                         3            60                      3  ...    NaN
7                         3            60                      3  ...    NaN
...                     ...           ...                    ...  ...    ...
75173                     3            60                      3  ...    NaN
75174                     3            60                      3  ...    NaN
75175                     3            60                      3  ...    NaN
75176                     3            60                      3  ...    NaN
75177                     3            60                      3  ...    NaN

      product_val   combined_ar  overdue_months_division_code_val product_y  \
3        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
4        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
5        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
6        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
7        RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
...           ...           ...                               ...       ...
75173    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75174    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75175    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75176    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL
75177    RL ML TL  RL ML TL_OD2                 RL ML TL_XDAY-OD2  RL ML TL

         bucket  %assign        oa  group        combined_oa
3      XDAY-OD2 0.220000       PCN      6  RL ML TL_XDAY-OD2
4      XDAY-OD2 0.200000       ACT      6  RL ML TL_XDAY-OD2
5      XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
6      XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
7      XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
...         ...      ...       ...    ...                ...
75173  XDAY-OD2 0.180000  In-House      6  RL ML TL_XDAY-OD2
75174  XDAY-OD2 0.120000       DHA      6  RL ML TL_XDAY-OD2
75175  XDAY-OD2 0.110000       KOR      6  RL ML TL_XDAY-OD2
75176  XDAY-OD2 0.090000       KWC      6  RL ML TL_XDAY-OD2
75177  XDAY-OD2 0.080000       MMN      6  RL ML TL_XDAY-OD2

[12495 rows x 94 columns]
order 6
ar_7
        base_date  customer_no  customer_id_no  principal_balance  \
20     02-03-2568  14231270722   1411200124914       30429.630000
21     02-03-2568  14231270722   1411200124914       30429.630000
22     02-03-2568  14231270722   1411200124914       30429.630000
23     02-03-2568  14231270722   1411200124914       30429.630000
24     02-03-2568  14231270722   1411200124914       30429.630000
...           ...          ...             ...                ...
75164  02-03-2568  12180032167   1801200102577       11977.630000
75165  02-03-2568  12180032167   1801200102577       11977.630000
75166  02-03-2568  12180032167   1801200102577       11977.630000
75167  02-03-2568  12180032167   1801200102577       11977.630000
75168  02-03-2568  12180032167   1801200102577       11977.630000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
20                       0              3120.730000                     91
21                       0              3120.730000                     91
22                       0              3120.730000                     91
23                       0              3120.730000                     91
24                       0              3120.730000                     91
...                    ...                      ...                    ...
75164                    0               474.170000                     29
75165                    0               474.170000                     29
75166                    0               474.170000                     29
75167                    0               474.170000                     29
75168                    0               474.170000                     29

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
20                        4            91                      4  ...    NaN
21                        4            91                      4  ...    NaN
22                        4            91                      4  ...    NaN
23                        4            91                      4  ...    NaN
24                        4            91                      4  ...    NaN
...                     ...           ...                    ...  ...    ...
75164                     2            29                      2  ...    NaN
75165                     2            29                      2  ...    NaN
75166                     2            29                      2  ...    NaN
75167                     2            29                      2  ...    NaN
75168                     2            29                      2  ...    NaN

      product_val   combined_ar  overdue_months_division_code_val product_y  \
20       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
21       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
22       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
23       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
24       RL ML TL  RL ML TL_OD3                  RL ML TL_OD3-OD6  RL ML TL
...           ...           ...                               ...       ...
75164    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75165    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75166    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75167    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL
75168    RL ML TL  RL ML TL_OD1                  RL ML TL_OD3-OD6  RL ML TL

        bucket  %assign   oa  group       combined_oa
20     OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
21     OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
22     OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
23     OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
24     OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6
...        ...      ...  ...    ...               ...
75164  OD3-OD6 0.300000  KWC      7  RL ML TL_OD3-OD6
75165  OD3-OD6 0.250000  MMN      7  RL ML TL_OD3-OD6
75166  OD3-OD6 0.200000  UPC      7  RL ML TL_OD3-OD6
75167  OD3-OD6 0.150000  GMV      7  RL ML TL_OD3-OD6
75168  OD3-OD6 0.100000  MGC      7  RL ML TL_OD3-OD6

[32945 rows x 94 columns]
order 7
ar_2
        base_date  customer_no  customer_id_no  principal_balance  \
87     02-03-2568  13210010053   3100900470236     1103849.340000
239    02-03-2568  13210012617   3650100149510     1434157.210000
240    02-03-2568  14230330215   3800900020943     1483686.080000
299    02-03-2568  14231001709   3100900735906      481354.920000
1073   02-03-2568  14220004175   1609900119498      588647.720000
...           ...          ...             ...                ...
74901  02-03-2568  14230421286   5800100095759      319668.750000
74954  02-03-2568  14230375578   1930600130258      325943.940000
74968  02-03-2568  14231218448   1930800009452      535444.870000
74969  02-03-2568  14231244945   3900900186751      518364.770000
75137  02-03-2568  14230366869   3361000027246      255536.520000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
87                       0             10460.000000                     29
239                      0             26505.000000                     29
240                      0             32499.000000                     60
299                      0             28880.000000                     29
1073                     0             24258.530000                     29
...                    ...                      ...                    ...
74901                    0             25670.000000                     60
74954                    0              8511.000000                     29
74968                    0             24540.000000                     29
74969                    0             35217.000000                     60
75137                    0             40002.000000                    121

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... reason  \
87                        2            29                      2  ...    NaN
239                       2            29                      2  ...    NaN
240                       3            60                      3  ...    NaN
299                       2            29                      2  ...    NaN
1073                      2            29                      2  ...    NaN
...                     ...           ...                    ...  ...    ...
74901                     3            60                      3  ...    NaN
74954                     2            29                      2  ...    NaN
74968                     2            29                      2  ...    NaN
74969                     3            60                      3  ...    NaN
75137                     5           121                      5  ...    NaN

      product_val combined_ar  overdue_months_division_code_val product_y  \
87            H4C     H4C_OD1                       H4C_OD1-OD2       H4C
239           H4C     H4C_OD1                       H4C_OD1-OD2       H4C
240           H4C     H4C_OD2                       H4C_OD1-OD2       H4C
299           C4C     C4C_OD1                       H4C_OD1-OD2       H4C
1073          C4C     C4C_OD1                       H4C_OD1-OD2       H4C
...           ...         ...                               ...       ...
74901         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
74954         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
74968         C4C     C4C_OD1                       H4C_OD1-OD2       H4C
74969         C4C     C4C_OD2                       H4C_OD1-OD2       H4C
75137         C4C     C4C_OD4                       H4C_OD1-OD2       H4C

        bucket  %assign   oa  group  combined_oa
87     OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
239    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
240    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
299    OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
1073   OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
...        ...      ...  ...    ...          ...
74901  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74954  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74968  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
74969  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2
75137  OD1-OD2 1.000000  JMT      2  H4C_OD1-OD2

[509 rows x 94 columns]
order 2
        base_date  customer_no  customer_id_no  principal_balance  \
0      02-03-2568  12170027459   1450600200897       14072.830000
1      02-03-2568  12170060851   5330400084374       34313.470000
2      02-03-2568  12180049674   3620500225531      190829.660000
3      02-03-2568  12160022616   3100100904461       54831.820000
4      02-03-2568  12170030757   1509901516602       18991.910000
...           ...          ...             ...                ...
75174  02-03-2568  14230421286   5800100095759      319668.750000
75175  02-03-2568  14230375578   1930600130258      325943.940000
75176  02-03-2568  14231218448   1930800009452      535444.870000
75177  02-03-2568  14231244945   3900900186751      518364.770000
75178  02-03-2568  14230366869   3361000027246      255536.520000

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                        0               422.180000                      1
1                        0              1029.400000                      1
2                        0              5724.880000                      1
3                        0              1644.950000                      1
4                        0               569.750000                      1
...                    ...                      ...                    ...
75174                    0             25670.000000                     60
75175                    0              8511.000000                     29
75176                    0             24540.000000                     29
75177                    0             35217.000000                     60
75178                    0             40002.000000                    121

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
0                         1             1                      1  ...
1                         1             1                      1  ...
2                         1             1                      1  ...
3                         1             1                      1  ...
4                         1             1                      1  ...
...                     ...           ...                    ...  ...
75174                     3            60                      3  ...
75175                     2            29                      2  ...
75176                     2            29                      2  ...
75177                     3            60                      3  ...
75178                     5           121                      5  ...

      product_val           combined_ar overdue_months_division_code_val  \
0        RL ML TL  RL ML TL_Grace_X-Day                        H4C_X-DAY
1        RL ML TL  RL ML TL_Grace_X-Day                        H4C_X-DAY
2        RL ML TL  RL ML TL_Grace_X-Day                        H4C_X-DAY
3        RL ML TL  RL ML TL_Grace_X-Day                        H4C_X-DAY
4        RL ML TL  RL ML TL_Grace_X-Day                        H4C_X-DAY

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_56036\840615919.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [435]:
final_df.to_csv('./output/123456.csv')

In [418]:
import numpy as np
import pandas as pd

# Iterate through each dataframe in dataframes_ar
for ar_df in dataframes_ar:
    print(ar_df)
    
    # Extract the last value of the first row's last column for 'order'
    order = ar_df.iloc[0, -1]
    print(f'Processing dataframe for order: {order}')
    
    # Filter rows where 'ever' == 'Y'
    df_y = ar_df.loc[ar_df['ever'] == 'Y']
    print('Filtered Y contracts')
    
    # Filter rows where 'ever' == 'N'
    df_n = ar_df.loc[ar_df['ever'] == 'N']
    print('Filtered N contracts')
    
    # Count of 'Y' and 'N' contracts
    size_y = df_y['contract_no'].count()  
    size_n = df_n['contract_no'].count()  
    
    # Get the corresponding OA dataframe based on order
    oa = dataframes[f'oa_{order}']
    
    # Assign values randomly based on the OA assignment probabilities
    df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
    df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
    
    # Combine the 'Y' and 'N' dataframes
    assigned_df = pd.concat([df_y, df_n], ignore_index=True)
    
    # Assign the combined dataframe to a variable with a dynamic name
    globals()[f'df_assign_{order}'] = assigned_df
    print(f'Assigned dataframe for order {order} created.')

ar_1

AttributeError: 'str' object has no attribute 'iloc'

In [407]:
# Step 1: Separate the DataFrame based on 'column_name' (which contains 'y' and 'n')
df_y = ar_6[ar_6['ever'] == 'Y'].copy()
df_y

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
310,02-03-2568,12160015979,1560100201974,40804.810000,0,2343.160000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.220000,PCN,6,RL ML TL_XDAY-OD2
311,02-03-2568,12160015979,1560100201974,40804.810000,0,2343.160000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.200000,ACT,6,RL ML TL_XDAY-OD2
312,02-03-2568,12160015979,1560100201974,40804.810000,0,2343.160000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.180000,In-House,6,RL ML TL_XDAY-OD2
313,02-03-2568,12160015979,1560100201974,40804.810000,0,2343.160000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.120000,DHA,6,RL ML TL_XDAY-OD2
314,02-03-2568,12160015979,1560100201974,40804.810000,0,2343.160000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.110000,KOR,6,RL ML TL_XDAY-OD2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75154,02-03-2568,12170058647,3760100540587,15789.350000,0,993.570000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.180000,In-House,6,RL ML TL_XDAY-OD2
75155,02-03-2568,12170058647,3760100540587,15789.350000,0,993.570000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.120000,DHA,6,RL ML TL_XDAY-OD2
75156,02-03-2568,12170058647,3760100540587,15789.350000,0,993.570000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.110000,KOR,6,RL ML TL_XDAY-OD2
75157,02-03-2568,12170058647,3760100540587,15789.350000,0,993.570000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.090000,KWC,6,RL ML TL_XDAY-OD2
75158,02-03-2568,12170058647,3760100540587,15789.350000,0,993.570000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.080000,MMN,6,RL ML TL_XDAY-OD2

In [347]:
df_n = ar_6[ar_6['ever'] == 'N'].copy()
df_n

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,reason,product_val,combined_ar,overdue_months_division_code_val,product_y,bucket,%assign,oa,group,combined_oa
3,02-03-2568,14230554514,3321200109131,33990.390000,0,2638.960000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.220000,PCN,6,RL ML TL_XDAY-OD2
4,02-03-2568,14230554514,3321200109131,33990.390000,0,2638.960000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.200000,ACT,6,RL ML TL_XDAY-OD2
5,02-03-2568,14230554514,3321200109131,33990.390000,0,2638.960000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.180000,In-House,6,RL ML TL_XDAY-OD2
6,02-03-2568,14230554514,3321200109131,33990.390000,0,2638.960000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.120000,DHA,6,RL ML TL_XDAY-OD2
7,02-03-2568,14230554514,3321200109131,33990.390000,0,2638.960000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.110000,KOR,6,RL ML TL_XDAY-OD2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75173,02-03-2568,12170041240,1910500035091,62978.010000,0,4153.840000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.180000,In-House,6,RL ML TL_XDAY-OD2
75174,02-03-2568,12170041240,1910500035091,62978.010000,0,4153.840000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.120000,DHA,6,RL ML TL_XDAY-OD2
75175,02-03-2568,12170041240,1910500035091,62978.010000,0,4153.840000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.110000,KOR,6,RL ML TL_XDAY-OD2
75176,02-03-2568,12170041240,1910500035091,62978.010000,0,4153.840000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.090000,KWC,6,RL ML TL_XDAY-OD2
75177,02-03-2568,12170041240,1910500035091,62978.010000,0,4153.840000,60,3,60,3,...,NaN,RL ML TL,RL ML TL_OD2,RL ML TL_XDAY-OD2,RL ML TL,XDAY-OD2,0.080000,MMN,6,RL ML TL_XDAY-OD2

In [349]:
size_y = df_y['contract_no'].count()
size_y

np.int64(2835)

In [350]:
size_n = df_n['contract_no'].count()
size_n

np.int64(9660)

In [362]:
df_y['assigned'] = np.random.choice(oa_6['oa'], 
                                    size=size_y, 
                                    p=oa_6['%assign'])

In [366]:
df_n['assigned'] = np.random.choice(oa_6['oa'], 
                                    size=size_n, 
                                    p=oa_6['%assign'])

In [368]:
df_assign_6 = pd.concat([df_y, df_n], ignore_index=True)

In [369]:
df_assign_6.to_csv('./output/wwwwwww.csv')

In [252]:
oa_proportion['combined_oa'].unique()

array(['H4C_X-DAY', 'H4C_OD1-OD2', 'C4C_ALL', 'SF+_X-DAY', 'SF+_OD1-OD2',
       'SF+_NPL', 'RL ML TL_XDAY-OD2', 'RL ML TL_OD3-OD6'], dtype=object)

In [50]:
oa_proportion

     product    bucket  %assign        oa  group
0        H4C     X-DAY     1.00  In-House      1
1        H4C   OD1-OD2     1.00       JMT      2
2        C4C       ALL     0.60       DHA      3
3        C4C       ALL     0.40       PCN      3
4        SF+     X-DAY     1.00  In-House      4
5        SF+   OD1-OD2     1.00  In-House      4
6        SF+       NPL     0.20      THAS      5
7        SF+       NPL     0.18       LBR      5
8        SF+       NPL     0.17       ASJ      5
9        SF+       NPL     0.16       WSP      5
10       SF+       NPL     0.15       PCN      5
11       SF+       NPL     0.14       MGC      5
12  RL ML TL  XDAY-OD2     0.22       PCN      6
13  RL ML TL  XDAY-OD2     0.20       ACT      6
14  RL ML TL  XDAY-OD2     0.18  In-House      6
15  RL ML TL  XDAY-OD2     0.12       DHA      6
16  RL ML TL  XDAY-OD2     0.11       KOR      6
17  RL ML TL  XDAY-OD2     0.09       KWC      6
18  RL ML TL  XDAY-OD2     0.08       MMN      6
19  RL ML TL   OD3-OD6     0.30       KWC      7
20  RL ML TL   OD3-OD6     0.25       MMN      7
21  RL ML TL   OD3-OD6     0.20       UPC      7
22  RL ML TL   OD3-OD6     0.15       GMV      7
23  RL ML TL   OD3-OD6     0.10       MGC      7

In [31]:
oa_proportion['%assign']

0     1.00
1     1.00
2     0.60
3     0.40
4     1.00
5     1.00
6     0.20
7     0.18
8     0.17
9     0.16
10    0.15
11    0.14
12    0.22
13    0.20
14    0.18
15    0.12
16    0.11
17    0.09
18    0.08
19    0.30
20    0.25
21    0.20
22    0.15
23    0.10
Name: %assign, dtype: float64

In [ ]:
ar.loc[ar['bucket']  ]

KeyError: 'bucket'

In [ ]:
ar['dd'] = np.random.choice(oa_proportion['oa'],size=ar['contract_no'].count(),   p=oa_proportion['%assign'])

In [73]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt,dd
0,20250301,9.010000e+15,A501:TL,1/10/2024,151,5:OD4,151,5:OD4,74164.44,35872.73,...,0.00,467.3,32.7,0,0,0,0,28/2/2025,3000.00,Delay calling
1,20250301,9.010000e+15,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.00,0.0,0.0,0,0,0,0,27/9/2024,20971.92,UPC
2,20250301,9.010000e+15,A501:TL,31/8/2023,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.00,0.0,0.0,0,0,0,0,31/1/2023,1300.00,DHA
3,20250301,9.010000e+15,A501:TL,29/2/2024,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.00,0.0,0.0,0,0,0,0,27/12/2023,550.00,Delay calling
4,20250301,9.010000e+15,A501:TL,30/11/2022,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.00,0.0,0.0,0,0,0,0,30/9/2022,2100.00,PCN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568397,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,5520.89,2300.33,...,0.00,0.0,0.0,0,0,0,0,1/3/2025,460.08,Delay calling
568398,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,27681.52,19607.72,...,0.00,0.0,0.0,0,0,0,0,28/2/2025,1153.40,Delay calling
568399,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,8270.85,3446.17,...,0.00,0.0,0.0,0,0,0,0,28/2/2025,689.24,PCN
568400,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,14572.12,9714.76,...,52.96,0.0,0.0,0,0,0,0,2/2/2025,809.56,In-House
568401,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,3389.85,1694.91,...,18.48,0.0,0.0,0,0,0,0,4/2/2025,282.49,Delay calling

In [74]:
ar.to_csv('./distribute.csv')

In [44]:
ar.groupby('dd').size()

dd
ACT              127873
DHA               95921
Delay calling    516301
GMV               24495
In-House         122505
JMT                4082
KOR               74667
KWC              111361
MGC               16222
MMN               95719
PCN              152230
UPC               31599
dtype: int64

In [45]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt,dd
0,20250301,9010221122000949,A501:TL,2024-10-01,151,5:OD4,151,5:OD4,74164.44,35872.73,...,0.0,467.3,32.7,0,0,0.0,0.0,2025-02-28,3000.00,UPC
1,20250301,9010221122000931,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.0,0.0,0.0,0,0,0.0,0.0,2024-09-27,20971.92,Delay calling
2,20250301,9010221122000922,A501:TL,2023-08-31,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2023-01-31,1300.00,KWC
3,20250301,9010221122000914,A501:TL,2024-02-29,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.0,0.0,0.0,0,0,0.0,0.0,2023-12-27,550.00,PCN
4,20250301,9010221122000906,A501:TL,2022-11-30,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.0,0.0,0.0,0,0,0.0,0.0,2022-09-30,2100.00,Delay calling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372970,20250301,1000158090014831,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,25500.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-01-31,1580.00,DHA
1372971,20250301,1000158090014814,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,24600.00,30.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-31,1260.00,MMN
1372972,20250301,1000158090008580,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-16,4000.00,DHA
1372973,20250301,1000158090005394,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-08-01,2600.00,UPC
1372974,20250301,1000158080014811,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,27900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-02-03,3200.00,KWC

In [16]:
oa_proportion['portion_loancount'] =  (oa_proportion['proportion'] / 100) * loan_count

In [17]:
oa_proportion['portion_loanbalance'] =  (oa_proportion['proportion'] / 100) * loan_balance_sum

In [ ]:
['portion_loanbalance'].sum()

np.float64(17420427740.96958)

In [19]:
oa_proportion

    proportion             OA  portion_loancount  portion_loanbalance
0     9.316939            ACT      127919.245981         1.623051e+09
1    37.559684  Delay calling      515685.075518         6.543058e+09
2     6.974098            DHA       95752.616524         1.214918e+09
3     1.771357            GMV       24320.281906         3.085779e+08
4     8.898840       In-House      122178.844371         1.550216e+09
5     0.299349            JMT        4109.991052         5.214793e+07
6     5.464981            KOR       75032.824258         9.520231e+08
7     8.124490            KWC      111547.212459         1.415321e+09
8     1.202345            MGC       16507.900383         2.094537e+08
9     6.993889            MMN       96024.351617         1.218365e+09
10   11.100665            PCN      152409.362149         1.933783e+09
11    2.293362            UPC       31487.292411         3.995135e+08

In [10]:
ar

NameError: name 'ar' is not defined