In [68]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [ ]:
import pandas as pd
import glob
import numpy as np
import re
from utils import read_file,clean_column_names,assign_to_oa
pd.set_option('display.float_format', '{:.0f}'.format)

In [103]:
assigned_path  = glob.glob("./input/assigned/*") 
assigned_path[0]

'./input/assigned\\oa_proportion.xlsx'

In [106]:
glob.glob("./input/assigned/*")[0].split('\\')[-1]

'oa_proportion.xlsx'

In [107]:
assigned_path  = glob.glob("./input/assigned/*")[0].split('\\')[-1]
assigned_path

'oa_proportion.xlsx'

In [108]:
oa_proportion = read_file('./input/assigned/',assigned_path)
oa_proportion

,Product,Bucket,%Assign,OA,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [109]:
oa_proportion[['product','bucket','group','assign_type']]

KeyError: "['product', 'bucket'] not in index"

In [ ]:
map_criteria = oa_proportion[['product','bucket','group','assign_type']].drop_duplicates(subset=['product', 'bucket','group','assign_type'])

FileNotFoundError: [Errno 2] No such file or directory: './input/assigned/./input/assigned\\oa_proportion.xlsx'

In [ ]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1] 
ar = read_file('./input/AR/',ar_path)
ar = clean_column_names(ar)

In [69]:
assigned_path  = glob.glob("./input/assigned/*")

In [70]:
assigned_path = assigned_path[0].split('\\')[-1]

In [71]:
assigned_path

'oa_proportion.xlsx'

In [72]:
import os

In [73]:
def read_file(pathfile,filename):
    if filename:
        if filename.endswith(".xlsx"):
            file = pd.read_excel(f'{pathfile}{filename}')
        elif filename.endswith(".csv"):
            file = pd.read_csv(f'{pathfile}{filename}')
        return file  
    # print(assign.head())  # Display first few rows
    else:
        print("No file found in the folder.")

In [74]:
oa_proportion = read_file('./input/assigned/',assigned_path)

In [75]:
oa_proportion

,Product,Bucket,%Assign,OA,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [76]:
def clean_column_names(df):
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\.', '', regex=True)
    df.columns = df.columns.str.replace(r' ', '_', regex=True)  # Replace non-alphanumeric characters with underscores
    df.columns = df.columns.str.replace('customer_id_no|customer_id|national_id', 'customer_id_no', regex=True)  # Replace variations with 'customer_no'
    df.columns = df.columns.str.replace(r'loan_no|contract.*', 'contract_no', regex=True)
    df.columns = df.columns.str.replace(r'mobile.*', 'mobile_no', regex=True)
    df.columns = df.columns.str.replace(r'customer_name/surname\(thai\)', 'customer_name', regex=True)  # Replace 'customer_name/surname(thai)' with 'customer_name'
    return df

In [77]:
oa_proportion = clean_column_names(oa_proportion)

In [78]:
oa_proportion

,product,bucket,%assign,oa,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [79]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]

In [80]:
ar_path

'Ex. data assign.xlsx'

In [81]:
ar = read_file('./input/AR/',ar_path)

In [82]:
ar = clean_column_names(ar)

In [83]:
ar.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product', 'status_lm', 'old_oa', 'new_oa', 'reason'],
      dtype='object')

In [84]:
ar['product_val'] =  ar['sales_product_code'].str.extract(r':\s*(.*)').replace(r'\b(RL|ML|TL)\b', 'RL ML TL', regex=True)

In [85]:
ar['overdue_months_division_code']

0        XDAY
1        XDAY
2        XDAY
3         OD2
4        XDAY
         ...
38108     OD1
38109    XDAY
38110    XDAY
38111     OD2
38112    XDAY
Name: overdue_months_division_code, Length: 38113, dtype: object

In [86]:
oa_proportion

,product,bucket,%assign,oa,group,assign_type
0,H4C,XDAY,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,0.40,PCN,3,save_old_assign_new
4,SF+,X-DAY,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1.00,In-House,5,assign_all
6,SF+,NPL,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,0.10,MGC,8,save_old_assign_new

In [87]:
map_criteria = oa_proportion[['product','bucket','group','assign_type']].drop_duplicates(subset=['product', 'bucket','group','assign_type'])

In [88]:
map_criteria

     product                            bucket  group            assign_type
0        H4C                              XDAY      1             assign_all
1        H4C                           OD1-OD2      2             assign_all
2        C4C  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3    save_old_assign_new
4        SF+                             X-DAY      4             assign_all
5        SF+                           OD1-OD2      5             assign_all
6        SF+                               NPL      6    save_old_assign_new
12  RL ML TL                      XDAY-OD1-OD2      7  assign_old_assign_new
19  RL ML TL                   OD3-OD4-OD5-OD6      8    save_old_assign_new

In [89]:
ar_merge = ar.merge(map_criteria,left_on='product_val',right_on = 'product', suffixes=('_df1', '_df2'))

In [90]:
ar_merge.columns

Index(['base_date', 'customer_no', 'customer_id_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_id_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product_df1', 'status_lm', 'old_oa', 'new_oa', 'reason', 'product_val',
       'product_df2', 'bucket', 'group', 'assign_type'],
      dtype='object')

In [91]:
ar_merge  = ar_merge[ar_merge.apply(lambda row: row['overdue_months_division_code'] in row['bucket'], axis=1)]

In [92]:
ar_merge

,base_date,customer_no,customer_id_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,product_df1,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type
0,02-03-2568,14220046109,3240900116555,23541.73,0,706.25,1,1,1,1,...,RL ML TL,SAVE,KOR,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
2,02-03-2568,14220082584,3100700619422,82466.01,0,2473.98,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
4,02-03-2568,14230283551,3101300732206,424.47,0,432.40,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
6,02-03-2568,14230554514,3321200109131,33990.39,0,2638.96,60,3,60,3,...,RL ML TL,UNSAVE,PCN,KOR,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
8,02-03-2568,14220054168,3100503160974,10233.80,0,1405.00,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75495,02-03-2568,12180032167,1801200102577,11977.63,0,474.17,29,2,29,2,...,RL ML TL,UNSAVE,ACT,PCN,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75497,02-03-2568,12170059023,3800900578278,20232.96,0,619.98,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75499,02-03-2568,12160033410,3820800162096,46587.05,0,1397.61,1,1,1,1,...,RL ML TL,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75501,02-03-2568,12170041240,1910500035091,62978.01,0,4153.84,60,3,60,3,...,RL ML TL,SAVE,DHA,DHA,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new
75503,02-03-2568,12200000014,1100400134435,58220.40,0,1746.61,1,1,1,1,...,RL ML TL,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new

In [93]:
def split_dataframe_by_group(df, group_column, prefix):
    # Get unique values in the specified group column
    unique_values = df[group_column].unique()
    
    # Create a list to store the names of the created DataFrames
    dataframe_names = []
    
    # Create separate dataframes for each unique value in the group column
    for value in unique_values:
        df_name = f"{prefix}_{value}"
        globals()[df_name] = df[df[group_column] == value]
        dataframe_names.append(df_name)
    
    # Print the name of each created dataframe
    for df_name in dataframe_names:
        print(f"Dataframe name: {df_name}")
        # Uncomment the next line to print the dataframe contents
        # print(globals()[df_name], "\n")
    
    # Return the list of DataFrame names
    return dataframe_names

In [94]:
def assign_to_oa(df_toassign) : 
    # print('df_toassign',len(df_toassign))
    # List to store the concatenated dataframes
    oa_list = split_dataframe_by_group(oa_proportion, 'group', 'oa')
    ar_list = split_dataframe_by_group(df_toassign, 'group', 'ar')
    # print(ar_list)
    dataframes_oa = {name: globals()[name] for name in oa_list}
    dataframes_ar = {name: globals()[name] for name in ar_list}
    combined_dfs = []

    # Iterate through each ar dataframe in dataframes_ar
    for i in dataframes_ar:
        ar_df = dataframes_ar[i]
        # print(i)
        # print(ar_df)

        order = i[-1]  # Extract the last character of the first element for 'order'
        # print('order', order)
        
        df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
        df_n = ar_df.loc[ar_df['ever'] == 'N']  # Filter rows where 'ever' == 'N'
        
        size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
        size_n = df_n['contract_no'].count()  # Count of 'N' contracts
        
        # Get the corresponding OA dataframe based on order
        oa = dataframes_oa[f'oa_{order}']
        
        # Assign values randomly based on the OA assignment probabilities
        df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
        df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
        
        # Combine the 'Y' and 'N' dataframes
        assigned_df = pd.concat([df_y, df_n], ignore_index=True)
        
        # Store the concatenated dataframe in the list
        combined_dfs.append(assigned_df)

    # Concatenate all the combined dataframes into one final dataframe
    final_df = pd.concat(combined_dfs, ignore_index=True)

    # Optionally, assign the final concatenated dataframe to a dynamic variable
    globals()['df_assign_all'] = final_df

    # Print the final dataframe
    # print(final_df)
    return final_df

---

In [41]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]
assign_new= assign_to_oa(assign_new)
save_old_assign_new = pd.concat([save_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_8
Dataframe name: ar_3
['ar_8', 'ar_3']

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\4098834831.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [42]:
assign_all = ar_merge[ar_merge['assign_type'] == 'assign_all'].reset_index(drop=True)
assign_all= assign_to_oa(assign_all)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_2
Dataframe name: ar_1
['ar_2', 'ar_1']

In [66]:
assign_old_assign_new = ar_merge[ar_merge['assign_type'] == 'assign_old_assign_new'].reset_index(drop=True)
assign_old  = assign_old_assign_new.loc[ (assign_old_assign_new['status_lm'] == 'SAVE')]
assign_old= assign_to_oa(assign_old)
assign_new =  assign_old_assign_new.loc[ ~(assign_old_assign_new['status_lm'] == 'SAVE')]
assign_new= assign_to_oa(assign_new)
assign_old_assign_new = pd.concat([assign_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_7
['ar_7']
Dataframe name: oa_1
Dataframe name: oa_2
Dataframe name: oa_3
Dataframe name: oa_4
Dataframe name: oa_5
Dataframe name: oa_6
Dataframe name: oa_7
Dataframe name: oa_8
Dataframe name: ar_7
['ar_7']

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_49356\2188325182.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])

In [95]:
final = pd.concat([save_old_assign_new.reset_index(drop=True), 
           assign_all.reset_index(drop=True), 
           assign_old_assign_new.reset_index(drop=True)], ignore_index=True)

In [96]:
final.to_csv('./output/assignbycondition.csv')

In [99]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]  
ar = read_file('./input/AR/',ar_path)
ar_path_name = re.sub(r'\.(csv|xlsx)$', '', ar_path)

In [100]:
ar_path_name

'Ex. data assign'