In [1]:
import pandas as pd
import glob
import numpy as np
import re
from utils import read_file,clean_column_names
pd.set_option('display.float_format', '{:.0f}'.format)

In [9]:
path = glob.glob("./input/assigned/*")[1].split('\\')[-1]

In [10]:
path

'oa_proportion_no_condition.xlsx'

In [11]:
def read_file(pathfile,filename):
    if filename:
        if filename.endswith(".xlsx"):
            file = pd.read_excel(f'{pathfile}{filename}', dtype={'%Assign': float})
        elif filename.endswith(".csv"):
            file = pd.read_csv(f'{pathfile}{filename}')
        return file  
    # print(assign.head())  # Display first few rows
    else:
        print("No file found in the folder.")

In [12]:
assigned_path  = path.split('\\')[-1] 
oa_proportion = read_file('./input/assigned/',assigned_path)

In [13]:
oa_proportion['%Assign'].apply(lambda x: "{:.2f}".format(x) if pd.notna(x) else "NaN")

0    0.22
1    0.20
2    0.18
3    0.12
4    0.11
5    0.09
6    0.08
Name: %Assign, dtype: object

In [14]:
oa_proportion['%Assign'] = oa_proportion['%Assign'].apply(lambda x: "{:.2f}".format(x) if pd.notna(x) else "NaN")

In [15]:
oa_proportion

  %Assign        OA
0    0.22       PCN
1    0.20       ACT
2    0.18  In-House
3    0.12       DHA
4    0.11       KOR
5    0.09       KWC
6    0.08       MMN

In [16]:
def clean_column_names(df):
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\.', '', regex=True)
    df.columns = df.columns.str.replace(r' ', '_', regex=True)  # Replace non-alphanumeric characters with underscores
    df.columns = df.columns.str.replace('customer_id_no|customer_no|national_id', 'customer_no', regex=True)  # Replace variations with 'customer_no'
    df.columns = df.columns.str.replace(r'loan_no', 'contract_no', regex=True)
    df.columns = df.columns.str.replace(r'mobile.*', 'mobile_no', regex=True)
    df.columns = df.columns.str.replace(r'customer_name/surname\(thai\)', 'customer_name', regex=True)  # Replace 'customer_name/surname(thai)' with 'customer_name'
    return df

In [17]:
oa_proportion = clean_column_names(oa_proportion)

In [18]:
oa_proportion

  %assign        oa
0    0.22       PCN
1    0.20       ACT
2    0.18  In-House
3    0.12       DHA
4    0.11       KOR
5    0.09       KWC
6    0.08       MMN

In [19]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]  
ar = read_file('./input/AR/',ar_path)

In [ ]:

ar_path_name = re.sub(r'\.csv$', '', ar_path)  
# ar = pd.read_csv(f'./input/AR/{ar_path}')
ar

,Base date,Customer No,Customer ID No,Principal balance,Total Unclaimed Amt.,Repayment Target Amount,Overdue days(Morning),Overdue Cnt(Morning),Overdue days,Num of Overdue months,...,Occupation,Sales product code.1,Waived Processing Amt.(Xday),Extend term changed count,Ever,Product,Status LM,Old OA,New OA,Reason
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,7:DRIVING,A301:RL,0,0,N,RL ML TL,SAVE,KOR,Delay calling,NaN
1,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
2,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,7:DRIVING,A401:ML,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
3,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,UNSAVE,PCN,KOR,NaN
4,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,5:OFFICE WORK,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,UNSAVE,ACT,PCN,NaN
38109,02-03-2568,12170059023,3800900578278,20233,0,620,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38110,02-03-2568,12160033410,3820800162096,46587,0,1398,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38111,02-03-2568,12170041240,1910500035091,62978,0,4154,60,3,60,3,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,SAVE,DHA,DHA,NaN
38112,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,6:SALES,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN

In [130]:
ar = clean_column_names(ar)

In [131]:
ar.columns

Index(['base_date', 'customer_no', 'customer_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product', 'status_lm', 'old_oa', 'new_oa', 'reason'],
      dtype='object')

In [81]:
ar['contract_no'].count()

np.int64(38113)

In [82]:
oa_proportion

  %assign        oa
0    0.22       PCN
1    0.20       ACT
2    0.18  In-House
3    0.12       DHA
4    0.11       KOR
5    0.09       KWC
6    0.08       MMN

In [83]:
ar['oa_assigned'] = np.random.choice(oa_proportion['oa'],size=ar['contract_no'].count(),   p=oa_proportion['%assign'])
# ar.to_csv(f'./output/assign_no_condition{ar_path_name}.csv')

In [ ]:
# ar.to_csv(f'./output/test{ar_path_name}.csv')

In [132]:
ar

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,occupation,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,7:DRIVING,A301:RL,0,0,N,RL ML TL,SAVE,KOR,Delay calling,NaN
1,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
2,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,7:DRIVING,A401:ML,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
3,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,UNSAVE,PCN,KOR,NaN
4,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,5:OFFICE WORK,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,UNSAVE,ACT,PCN,NaN
38109,02-03-2568,12170059023,3800900578278,20233,0,620,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38110,02-03-2568,12160033410,3820800162096,46587,0,1398,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38111,02-03-2568,12170041240,1910500035091,62978,0,4154,60,3,60,3,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,SAVE,DHA,DHA,NaN
38112,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,6:SALES,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN

In [133]:
# Step 1: Sort by 'Age' column
df_sorted = ar.sort_values(by='principal_balance', ascending=True)
df_sorted

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,occupation,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason
29586,02-03-2568,14230258592,1329900507555,136,0,138,1,1,1,1,...,5:OFFICE WORK,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
9733,02-03-2568,14230174537,1100400896220,184,0,184,29,2,29,2,...,8:SERVICE JOB,A401:ML,0,0,N,RL ML TL,SAVE,ACT,ACT,NaN
14432,02-03-2568,14220146263,3140700068566,199,0,203,1,1,1,1,...,9:PRODUCTION LINE LABOR,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
21246,02-03-2568,14230936321,1470900121844,258,0,262,1,1,1,1,...,9:PRODUCTION LINE LABOR,A401:ML,0,0,N,RL ML TL,SAVE,KOR,KWC,NaN
31591,02-03-2568,12180023650,1460100110686,303,0,300,1,1,1,1,...,6:SALES,A301:RL,0,0,N,RL ML TL,NEW,NaN,PCN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5786,02-03-2568,14220009736,3249900206145,5249621,0,142242,60,3,60,3,...,3:SENIOR MANAGEMENT,A201:H4C,0,0,N,H4C,UNSAVE,JMT,JMT,NaN
10629,02-03-2568,14220006123,1919900015509,6827296,0,174532,60,3,60,3,...,1:REGISTERED BUSINESS OWNER,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN
7345,02-03-2568,14220041987,3110101070041,7583363,0,204500,60,3,60,3,...,1:REGISTERED BUSINESS OWNER,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN
9754,02-03-2568,13210000411,1100600365546,7836795,0,72664,1,1,1,1,...,1:REGISTERED BUSINESS OWNER,A201:H4C,0,0,N,H4C,SAVE,In-House,In-House,NaN
32180,02-03-2568,14230436991,2520700011503,11810361,0,317869,60,3,60,3,...,1:REGISTERED BUSINESS OWNER,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN

In [134]:
# Step 2: Split into 3 equal parts
split_dfs = np.array_split(df_sorted, 3)

c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [142]:
updated_dfs = []
for i, split_df in enumerate(split_dfs):
    split_df['oa_assigned'] = np.random.choice(oa_proportion['oa'],size=split_df['contract_no'].count(),   p=oa_proportion['%assign'])
    updated_dfs.append(split_df)
    print(split_df)
final_df = pd.concat(updated_dfs).reset_index(drop=True)
final_df

        base_date  customer_no    customer_no  principal_balance  \
29586  02-03-2568  14230258592  1329900507555                136
9733   02-03-2568  14230174537  1100400896220                184
14432  02-03-2568  14220146263  3140700068566                199
21246  02-03-2568  14230936321  1470900121844                258
31591  02-03-2568  12180023650  1460100110686                303
...           ...          ...            ...                ...
26043  02-03-2568  14230770007  1529900536421              17702
35304  02-03-2568  12180031505  1749900423188              17702
26401  02-03-2568  14230471158  1529900467489              17702
31181  02-03-2568  14230618269  3410102264610              17704
18718  02-03-2568  14231186019  1570800057876              17706

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
29586                    0                      138                      1
9733                     0                      184                     29
14432                    0                      203                      1
21246                    0                      262                      1
31591                    0                      300                      1
...                    ...                      ...                    ...
26043                    0                      531                      1
35304                    0                      531                      1
26401                    0                      531                      1
31181                    0                     2020                      1
18718                    0                      531                      1

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
29586                     1             1                      1  ...
9733                      2            29                      2  ...
14432                     1             1                      1  ...
21246                     1             1                      1  ...
31591                     1             1                      1  ...
...                     ...           ...                    ...  ...
26043                     1             1                      1  ...
35304                     1             1                      1  ...
26401                     1             1                      1  ...
31181                     1             1                      1  ...
18718                     1             1                      1  ...

      sales_product_code1 waived_processing_amt(xday)  \
29586             A401:ML                           0
9733              A401:ML                           0
14432             A401:ML                           0
21246             A401:ML                           0
31591             A301:RL                           0
...                   ...                         ...
26043             A301:RL                           0
35304             A301:RL                           0
26401             A301:RL                           0
31181             A401:ML                           0
18718             A301:RL                           0

      extend_term_changed_count  ever   product  status_lm         old_oa  \
29586                         0     N  RL ML TL        NEW            NaN
9733                          0     N  RL ML TL       SAVE            ACT
14432                         0     N  RL ML TL        NEW            NaN
21246                         0     N  RL ML TL       SAVE            KOR
31591                         0     N  RL ML TL        NEW            NaN
...                         ...   ...       ...        ...            ...
26043                         0     N  RL ML TL        NEW            NaN
35304                         0     N  RL ML TL       SAVE  Delay calling
26401                         0     N  RL ML TL       SAVE       In-House
31181                         0     N  RL ML TL       SAVE       In-House
18718                         0     N  RL ML TL        NEW            NaN

              new_oa  reason  oa_assigned
29586  Delay calling     NaN     In-House
9733             ACT     NaN          KOR
14432  Delay calling     NaN          PCN
21246            KWC     NaN          PCN
31591            PCN     NaN          PCN
...              ...     ...          ...
26043  Delay calling     NaN          DHA
35304  Delay calling     NaN          KWC
26401       In-House     NaN          PCN
31181       In-House     NaN          PCN
18718            PCN     NaN          KOR

[12705 rows x 86 columns]
        base_date  customer_no    customer_no  principal_balance  \
1775   02-03-2568  12180052031  3800300272747              17709
9974   02-03-2568  14230488303  1100703405711              17710
26248  02-03-2568  12170027207  1450100084367              17712
22623  02-03-2568  14230374401  1419900372136              17714
1000   02-03-2568  12180045003  3341901456279              17715
...           ...          ...            ...                ...
21270  02-03-2568  14230568857  5440100022313              32690
15615  02-03-2568  14220043597  3700400519010              32691
32036  02-03-2568  14220008196  3501600097553              32692
11300  02-03-2568  12180046859  3440300735414              32695
22197  02-03-2568  14231567770  1409800094703              32695

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
1775                     0                      531                      1
9974                     0                      531                      1
26248                    0                      531                      1
22623                    0                      531                      1
1000                     0                     2689                    152
...                    ...                      ...                    ...
21270                    0                      981                      1
15615                    0                     3990                    121
32036                    0                      981                      1
11300                    0                      981                      1
22197                    0                      981                      1

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
1775                      1             1                      1  ...
9974                      1             1                      1  ...
26248                     1             1                      1  ...
22623                     1             1                      1  ...
1000                      6           152                      6  ...
...                     ...           ...                    ...  ...
21270                     1             1                      1  ...
15615                     5           121                      5  ...
32036                     1             1                      1  ...
11300                     1             1                      1  ...
22197                     1             1                      1  ...

      sales_product_code1 waived_processing_amt(xday)  \
1775              A301:RL                           0
9974              A301:RL                           0
26248             A301:RL                           0
22623             A301:RL                           0
1000              A301:RL                           0
...                   ...                         ...
21270             A301:RL                           0
15615             A301:RL                           0
32036             A301:RL                           0
11300             A301:RL                           0
22197             A301:RL                           0

      extend_term_changed_count  ever   product  status_lm    old_oa  \
1775                          0     N  RL ML TL        NEW       NaN
9974                          0     N  RL ML TL       SAVE  In-House
26248                         0     N  RL ML TL        NEW       NaN
22623                         0     N  RL ML TL        NEW       NaN
1000                          0     N  RL ML TL     UNSAVE       KWC
...                         ...   ...       ...        ...       ...
21270                         0     N  RL ML TL       SAVE       DHA
15615                         0     N  RL ML TL     UNSAVE       KWC
32036                         0     N  RL ML TL        NEW       NaN
11300                         0     N  RL ML TL       SAVE       ACT
22197                         0     N  RL ML TL        NEW       NaN

              new_oa  reason  oa_assigned
1775   Delay calling     NaN          MMN
9974        In-House     NaN          DHA
26248  Delay calling     NaN          KWC
22623            KOR     NaN     In-House
1000             GMV     NaN          PCN
...              ...     ...          ...
21270            DHA     NaN          PCN
15615            MMN     NaN          DHA
32036  Delay calling     NaN          DHA
11300  Delay calling     NaN          ACT
22197  Delay calling     NaN          MMN

[12704 rows x 86 columns]
        base_date  customer_no    customer_no  principal_balance  \
5305   02-03-2568  14220010121  5320500041987              32696
29193  02-03-2568  14220025782  1319900378208              32697
12009  02-03-2568  14220025563  5100200004786              32698
4003   02-03-2568  12180004605  1102700147208              32698
23171  02-03-2568  14220019149  1340700553415              32700
...           ...          ...            ...                ...
5786   02-03-2568  14220009736  3249900206145            5249621
10629  02-03-2568  14220006123  1919900015509            6827296
7345   02-03-2568  14220041987  3110101070041            7583363
9754   02-03-2568  13210000411  1100600365546            7836795
32180  02-03-2568  14230436991  2520700011503           11810361

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
5305                     0                      981                      1
29193                    0                      981                      1
12009                    0                      981                      1
4003                     0                      981                      1
23171                    0                      981                      1
...                    ...                      ...                    ...
5786                     0                   142242                     60
10629                    0                   174532                     60
7345                     0                   204500                     60
9754                     0                    72664                      1
32180                    0                   317869                     60

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
5305                      1             1                      1  ...
29193                     1             1                      1  ...
12009                     1             1                      1  ...
4003                      1             1                      1  ...
23171                     1             1                      1  ...
...                     ...           ...                    ...  ...
5786                      3            60                      3  ...
10629                     3            60                      3  ...
7345                      3            60                      3  ...
9754                      1             1                      1  ...
32180                     3            60                      3  ...

      sales_product_code1 waived_processing_amt(xday)  \
5305              A301:RL                           0
29193             A301:RL                           0
12009             A301:RL                           0
4003              A301:RL                           0
23171             A301:RL                           0
...                   ...                         ...
5786             A201:H4C                           0
10629            A201:H4C                           0
7345             A201:H4C                           0
9754             A201:H4C                           0
32180            A201:H4C                           0

      extend_term_changed_count  ever   product  status_lm         old_oa  \
5305                          0     N  RL ML TL        NEW            NaN
29193                         0     N  RL ML TL       SAVE  Delay Calling
12009                         0     N  RL ML TL       SAVE            MMN
4003                          0     Y  RL ML TL       SAVE       In-House
23171                         0     N  RL ML TL       SAVE       In-House
...                         ...   ...       ...        ...            ...
5786                          0     N       H4C     UNSAVE            JMT
10629                         0     N       H4C       SAVE            JMT
7345                          0     N       H4C       SAVE            JMT
9754                          0     N       H4C       SAVE       In-House
32180                         0     N       H4C       SAVE            JMT

              new_oa  reason  oa_assigned
5305   Delay calling     NaN     In-House
29193  Delay calling     NaN          PCN
12009  Delay calling     NaN          ACT
4003        In-House     NaN          DHA
23171       In-House     NaN          ACT
...              ...     ...          ...
5786             JMT     NaN          ACT
10629            JMT     NaN          ACT
7345             JMT     NaN          DHA
9754        In-House     NaN          MMN
32180            JMT     NaN          ACT

[12704 rows x 86 columns]

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason,oa_assigned
0,02-03-2568,14230258592,1329900507555,136,0,138,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,In-House
1,02-03-2568,14230174537,1100400896220,184,0,184,29,2,29,2,...,A401:ML,0,0,N,RL ML TL,SAVE,ACT,ACT,NaN,KOR
2,02-03-2568,14220146263,3140700068566,199,0,203,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,PCN
3,02-03-2568,14230936321,1470900121844,258,0,262,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,SAVE,KOR,KWC,NaN,PCN
4,02-03-2568,12180023650,1460100110686,303,0,300,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,NEW,NaN,PCN,NaN,PCN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,14220009736,3249900206145,5249621,0,142242,60,3,60,3,...,A201:H4C,0,0,N,H4C,UNSAVE,JMT,JMT,NaN,ACT
38109,02-03-2568,14220006123,1919900015509,6827296,0,174532,60,3,60,3,...,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN,ACT
38110,02-03-2568,14220041987,3110101070041,7583363,0,204500,60,3,60,3,...,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN,DHA
38111,02-03-2568,13210000411,1100600365546,7836795,0,72664,1,1,1,1,...,A201:H4C,0,0,N,H4C,SAVE,In-House,In-House,NaN,MMN
38112,02-03-2568,14230436991,2520700011503,11810361,0,317869,60,3,60,3,...,A201:H4C,0,0,N,H4C,SAVE,JMT,JMT,NaN,ACT

In [144]:
final_df.to_excel('./output/weightandslit.xlsx')

---

In [87]:
ar

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason,oa_assigned
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,KOR,Delay calling,NaN,ACT
1,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,ACT
2,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,PCN
3,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,A301:RL,0,0,N,RL ML TL,UNSAVE,PCN,KOR,NaN,MMN
4,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,In-House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,A301:RL,0,0,N,RL ML TL,UNSAVE,ACT,PCN,NaN,ACT
38109,02-03-2568,12170059023,3800900578278,20233,0,620,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,KWC
38110,02-03-2568,12160033410,3820800162096,46587,0,1398,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN,ACT
38111,02-03-2568,12170041240,1910500035091,62978,0,4154,60,3,60,3,...,A301:RL,0,0,N,RL ML TL,SAVE,DHA,DHA,NaN,KOR
38112,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN,In-House